// Primary
$primary:#FFD640;

// font-color
$fc-1:#CA5171;
$fc-2:rgb(0, 0, 0,0.85);
$fc-3:#403D3B;
$fc-4:#69B169;
$fc-5:#FFF0C0;
$fc-6:#FFFFFF;
$fc-7:#000000;

// shadow
$shadow-1:#897359;
$shadow-2:#FFF0C0;
$shadow-3:#534D97;

// LearnHome
$learn-h1:#8ECAE6;
$learn-h2:#1CB76B;
$learn-h3:#EE3627;

//button
$btn-1:#EF933A;
$btn-2:#F3A4A4;
$btn-3:#FFC800;
$btn-4:#E7E7E7;

// LearnPage
$learn-p1:#de5b5b;
$learn-p2:#CA5171;
$learn-p3:#FDBABA;
$learn-p4:#8ECAE6;

// Game
$g-board1:#2B7551;
$g-board2:#C3825A;
$g-board3:#E7E7E7;

$g-card1:#C1FFE1;
$g-card2:#A0D7FF;
$g-card3:#F1CAF5;
$g-card4:#FBA78B;

// Member
$member:#FFF0C0; //這跟shadow2同顏色

// Register
$register-1:#FEE3EC;
$register-2:#A2A2A2;

