@use './reset';
@use './variables'as *;
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: SweiGothicCJKtc-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
  }

#Hamburger {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 705px;
    background-color: $fc-5;
    border-radius: 20px;
    border: 1px solid;

    .Ham-Bk-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 28px 46px 26px 46px;

        p {
            background-color: #FDBABA;
            font-size: 24px;
            font-weight: $font-w-bold;
            font-family: 'SweiGothicCJKtc-Regular', sans-serif;
            text-align: center;
            line-height: 60px;
            border-radius: 99px;
            width: 150px;
            height: 60px;
            box-shadow: 5px 5px 0px 2px #000000;
            transition: transform 0.5s, box-shadow 0.1s; // 添加平滑效果

            &:hover {
                transition: all 0.5s ease;
                background-color: #fda2a2;

            }

            &:active {
                box-shadow: none; // 點擊時移除陰影
                transform: translateX(5px) translateY(5px);

            }
        }

        .iconX {
            background-color: #FDBABA;
            width: 48px;
            height: 48px;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 5px 5px 0px 2px #000000;
            transition: transform 0.5s, box-shadow 0.1s; // 添加平滑效果

            &:hover {
                transition: all 0.5s ease;

                background-color: #fda2a2;
            }

            &:active {
                box-shadow: none; // 點擊時移除陰影
                transform: translateX(5px) translateY(5px);
            }

            .bar {
                display: block;
                width: 36px;
                height: 4px;
                background-color: #333;
                border-radius: 99px;
                margin: 5px auto;

                &:nth-child(1) {
                    transform: rotate(45deg) translateY(11px) translateX(12px);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg) translateY(5px) translateX(-5px);
                }
            }


        }

    }

    .barLink {
        display: flex;
        flex-direction: column;
        align-items: center;

        .bar-Content {
            display: flex;
            align-items: center;
            width: 322px;
            height: 60px;
            margin: 15px 0;
            background-color: $primary;
            border-radius: 30px;
            justify-content: space-around;
            box-shadow: 5px 5px 0px 2px #000000;
            transition: transform 0.5s, box-shadow 0.1s; // 添加平滑效果

            &:hover {
                transition: all 0.5s ease;

                box-shadow: none; // 點擊時移除陰影
                transform: translateX(5px) translateY(5px);

            }

            p {
                text-align: center;
                font-size: 24px;
                font-family: 'SweiGothicCJKtc-Regular', sans-serif;
                font-weight: $font-w-medium;
            }

            img {
                width: 48px;
                height: 48px;
            }
        }
    }

    .bar-bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 26px;

        p {
            display: block;
            text-align: center;
            width: 153px;
            height: 60px;
            font-size: 24px;
            line-height: 60px;
            font-family: 'SweiGothicCJKtc-Regular', sans-serif;
            font-weight: $font-w-medium;
            background-color: #FDBABA;
            border-radius: 30px;
            box-shadow: 5px 5px 0px 2px #000000;
            transition: transform 0.5s, box-shadow 0.1s; // 添加平滑效果

            &:hover {
                transition: all 0.5s ease;

                background-color: #fda2a2;

            }

            &:active {
                box-shadow: none; // 點擊時移除陰影
                transform: translateX(5px) translateY(5px);

            }
        }

        img {
            width: 100px;
            height: 87px;
        }
    }
}

.bar-content-icon {
    display: none;
}

.bar-Content {
    &:hover {
        transition: all 0.5s ease;

        .bar-content-icon {
            display: block;
        }
    }
}


.bar-content-iconiconhover {
    display: none;
}

.bar-Content-1 {
    display: flex;
    align-items: center;
    width: 322px;
    height: 60px;
    margin: 15px 0;
    background-color: $primary;
    border-radius: 30px;
    justify-content: center;
    box-shadow: 5px 5px 0px 2px #000000;
    transition: transform 0.5s, box-shadow 0.1s; // 添加平滑效果

    p {
        text-align: center;
        font-size: 24px;
        font-family: 'SweiGothicCJKtc-Regular', sans-serif;
        font-weight: $font-w-medium;
        padding-right: 40px;
    }

    img {
        width: 48px;
        height: 48px;
        margin-right: 10px;
        opacity: 0;
    }

    &:hover {
        transition: all 0.5s ease;

        background-color: #fabf33;

        img {
            opacity: 1;
        }
    }

    &:active {
        box-shadow: none; // 點擊時移除陰影
        transform: translateX(5px) translateY(5px);
        background-color: #fabf33;
    }
}