@use './reset';
@use './variables'as *;
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: SweiGothicCJKtc-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
}

#Home-page-1 {
    background-color: $primary;

    @media (max-width:640px) {
        display: none;
    }
}

#Home-page-all2 {
    background-color: $primary;

    @media (max-width:640px) {
        display: none;
    }
}

#Home-page-all {
    background-image: url(../images/homeAll.svg);
    background-color: $primary;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'SweiGothicCJKtc-Regular', sans-serif;

}

#Home-page-2 {

    /* height: 1400px;
    background-color: $primary;
    background-image: url('../public/images/homePathA.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%;
 */
    .Home-content-bk-1 {

        .Home-content-1,
        .Home-content-2 {
            display: flex;
            flex-direction: column;
            font-size: $font-size-48;
            color: $fc-1;
            margin-left: 50px;
            font-weight: $font-w-bold;

            @media (max-width:1024px) {
                font-size: $font-size-32;
            }

            .Home-eng-text-1 {
                margin-left: 30px;
                color: $fc-2;
            }

            .Home-eng-text-2 {
                margin-left: 103px;
                color: $fc-2;

                @media (max-width:1024px) {
                    margin-left: 30px;
                }
            }

            span {
                font-size: $font-size-64;
                color: #FFFFFF;
                padding: 0 20px;
                text-shadow: 5px 5px $shadow-1;

                @media (max-width:1024px) {
                    font-size: $font-size-36;
                    padding: 0 10px;
                }
            }

            .Home-eng-text-1,
            .Home-eng-text-2 {
                font-size: $font-size-24;

                @media (max-width:1024px) {
                    font-size: $font-size-20;
                }
            }
        }

        .Home-content-2 {
            margin-left: 256px;

            @media (max-width:1024px) {
                margin-left: 140px;
            }
        }
    }

    .Home-content-bk-2 {
        display: flex;
        flex-direction: column;
        margin: 190px 0 0 190px;

        @media (max-width:1024px) {
            margin: 190px 0 0 80px;
        }

        @media (max-width:1024px) {
            margin: 40px 0 0 40px;
        }

        .Home-content-3 {

            display: flex;

            .Home-content-3-img {
                width: 15%;
                padding: 160px 0px 0px 50px;

                @media (max-width:1024px) {
                    width: 20%;
                }

            }

            .Home-text-2 {
                display: inline-block;
                font-size: $font-size-32;
                color: $fc-2;
                font-weight: $font-w-bold;
                background-color: $shadow-2;
                line-height: 25px;

                /* 背景顏色待調整 */
                @media (max-width:1024px) {
                    font-size: $font-size-24;
                }

            }

            .Home-eng-text-2 {
                font-size: $font-size-28;
                color: $fc-2;
                font-weight: $font-w-bold;
                line-height: 15px;
                background-color: $shadow-2;
                display: inline-block;
                margin-top: 15px;

                @media (max-width:1024px) {
                    font-size: $font-size-20;
                }
            }

            .Home-sml-text-2 {
                font-size: $font-size-20;
                color: $fc-2;
                font-weight: $font-w-medium;
                padding-top: 20px;

                @media (max-width:1024px) {
                    font-size: $font-size-16;
                }

            }
        }

        .Home-content-4 {
            display: flex;
            flex-direction: column;
            margin: 66px 119px 0 0;

            @media (max-width:1280px) {
                margin: 66px 70px 0 0;
            }

            @media (max-width:1024px) {
                margin: 0px 15px 0 0;
            }


            .Home-text-block-2 {
                text-align: right;

                .Home-text-2 {
                    display: inline-flex;
                    background-color: $shadow-2;
                    line-height: 25px;
                    font-size: $font-size-32;
                    color: $fc-2;
                    text-align: right;
                    font-weight: $font-w-bold;

                    @media (max-width:1024px) {
                        font-size: $font-size-24;
                    }
                }

                .Home-eng-text-2 {
                    display: inline-block;
                    background-color: $shadow-2;
                    font-size: $font-size-28;
                    color: $fc-2;
                    font-weight: $font-w-bold;
                    line-height: 15px;
                    margin-top: 15px;

                    @media (max-width:1024px) {
                        font-size: $font-size-20;
                    }
                }

                .Home-sml-text-2 {
                    padding-top: 20px;
                    font-size: $font-size-20;
                    color: $fc-2;
                    font-weight: $font-w-medium;

                    @media (max-width:1024px) {
                        font-size: $font-size-16;
                        padding-top: 10px;
                    }

                }
            }



            .Home-content-4-img {
                padding: 50px 50px 0 0;
                transform: rotate(-10deg);
                width: 25%;
                margin: auto;

                @media (max-width:1024px) {
                    padding: 0px 50px 0 0;
                    width: 25%;
                }
            }

        }
    }

}

#Home-page-3 {
    margin-top: 80px;
    margin-bottom: 100px;

    @media (max-width:1024px) {
        margin: 140px 40px 0 150px;
        // margin: 40px 40px 100px 150px;
    }

    .Home-content-bk {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 75%;

        @media (max-width:1280px) {
            width: 100%;
        }

        @media (max-width:1024px) {
            align-items: normal;
        }

        .Home-content-bk-3 {
            p {
                height: 65px;
                width: 65px;
                border-radius: 50%;
                font-size: 50px;
                background-color: #FFFFFF;
                text-align: center;
                line-height: 65px;
                font-weight: $font-w-bold;

                @media (max-width:1280px) {
                    margin-left: 140px;
                }

                @media (max-width:1024px) {
                    margin-left: 0px;
                    font-size: $font-size-32;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }

        .Home-ladder {
            width: 80%;

            @media (max-width:1024px) {
                width: 100%;
            }
        }

        .Home-content-bk-4 {
            color: $fc-2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 200px;

            @media (max-width:1024px) {
                margin: 0 0 0 20px;
            }

            .Home-content-5,
            .Home-content-7 {
                text-align: right;
                flex: 1;
                margin-left: 200px;
                padding-bottom: 40px;

                @media (max-width:1024px) {
                    padding-bottom: 30px;
                    margin-left: 100px;
                }
            }

            .Home-content-6 {
                text-align: left;
                flex: 1;
                padding-bottom: 50px;
            }

            .Home-text-3 {
                font-size: $font-size-32;
                font-weight: $font-w-bold;
                background: linear-gradient(to top, $shadow-2 30%, transparent 30%);
                display: inline-block;

                @media (max-width:1366px) {
                    font-size: $font-size-24;
                }

                @media (max-width:1024px) {
                    font-size: $font-size-16;
                    white-space: nowrap;
                }

                span {
                    font-size: 58px;
                    color: $fc-4;

                    @media (max-width:1366px) {
                        font-size: $font-size-48;
                    }

                    @media (max-width:1024px) {
                        font-size: $font-size-24;
                    }
                }


            }

            .Home-sml-text-3 {
                font-size: $font-size-20;
                font-weight: $font-w-medium;

                @media (max-width:1366px) {
                    font-size: $font-size-16;
                }

                @media (max-width:1024px) {
                    font-size: $font-size-14;
                    white-space: nowrap;
                }
            }

        }
    }
}

#Home-page-4 {
    padding-top: 0px;

    /* height: 2000px;
    background-color: $primary;
    background-image: url(../public/images/homePathB.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%; */
    .Home-content-6 {
        display: flex;
        justify-content: flex-end;
        font-size: $font-size-36;
        text-align: center;
        color: #FFFFFF;
        font-weight: $font-w-bold;
        margin: 10px 150px;


        @media (max-width:1470px) {
            margin: 140px 170px 10px 0;
        }

        @media (max-width:1440px) {
            margin: 10px 150px;
        }

        @media (max-width:1280px) {
            margin: 200px 50px 0 0;
        }

        @media (max-width:1024px) {
            margin: 60px 30px 0 0;
            font-size: $font-size-24;
        }
    }

    .Home-content-bk-all {
        display: flex;

        @media (max-width:1024px) {}

        .Home-content-bk-1 {
            margin: 40px 0 0 250px;
            width: 25%;

            @media (max-width:1024px) {
                margin: 0px 0 0 100px;
                width: 100%;
            }

            .Home-content-7 {
                transform: rotate(13deg);
                text-align: right;
                font-size: $font-size-24;
                padding-bottom: 10px;
                font-weight: $font-w-bold;

                @media (max-width:1280px) {
                    font-size: $font-size-20;
                }

            }

            .Home-content-8 {
                transform: rotate(-13deg);
                text-align: start;
                padding-top: 10px;
                font-size: $font-size-24;
                font-weight: $font-w-bold;

                @media (max-width:1280px) {
                    font-size: $font-size-20;
                }

                @media (max-width:1024px) {
                    padding-left: 45px;
                }
            }

            .Home-content-img {
                width: 60%;
                margin: auto;
                padding-top: 30px;

                @media (max-width:1024px) {
                    width: 50%;
                }
            }
        }

        .Home-content-bk-2,
        .Home-content-bk-3 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 144px;

            @media (max-width:1024px) {
                margin-top: 64px;
            }

            .Home-content-bk-2-img {
                mask-image: url(../images/home-page3-img1.png);
                mask-position: center;
                mask-size: contain;
                mask-repeat: no-repeat;
            }

            .Home-content-bk-3-img {
                mask-image: url(../images/home-page3-img2.png);
                mask-position: center;
                mask-size: contain;
                mask-repeat: no-repeat;
            }

            .Home-content-9,
            .Home-content-11 {
                font-size: $font-size-36;
                font-weight: $font-w-bold;

                @media (max-width:1024px) {
                    font-size: $font-size-20;
                }
            }

            .Home-content-10,
            .Home-content-12 {
                font-size: $font-size-20;
                text-align: center;
                font-weight: $font-w-medium;

                @media (max-width:1024px) {
                    font-size: $font-size-16;
                }
            }
        }
    }

}

#Home-page-5 {
    padding: 160px 0px 180px;

    @media (max-width:1470px) {
        padding: 160px 0px 250px;
    }

    @media (max-width:1280px) {
        padding: 240px 0px 240px;
    }

    @media (max-width:1024px) {
        padding: 90px 0 150px 0;
    }

    .Home-content-bk-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 35%;

        @media (max-width:1280px) {
            padding-right: 30%;
        }

        .Home-content-15 {
            background-image: url(../images/Home-content-1.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 80%;
        }

        .Home-content-13 {
            text-align: center;
            font-size: $font-size-32;
            font-weight: $font-w-bold;
            margin: 80px 100px 90px 65px;

            @media (max-width:1024px) {
                font-size: $font-size-20;
                margin: 50px;
                white-space: nowrap;
            }
        }

        .Home-content-bk-5 {
            transition: transform 0.5s, box-shadow 0.2s; // 添加平滑效果

            .Home-greenIp {
                width: 251px;

                @media (max-width:1024px) {
                    width: 200px;
                }
            }

            &:hover {

                .Home-greenIp {
                    animation: jump 1.5s ease-in-out infinite;

                    @media (max-width:1366px) {
                        animation: jump2 1.5s ease-in-out infinite;

                    }
                }

                p {
                    animation-play-state: paused;
                    transition: all 0.5s ease;
                    background-color: #f44f46;
                }
            }

            &:active {
                box-shadow: none; // 點擊時移除陰影
                transform: translateX(5px) translateY(5px);
            }

            .Home-btn {
                width: 251px;
                margin-bottom: 80px;

            }

            p {
                display: block;
                background-color: #FF6C64;
                width: 250px;
                line-height: 113px;
                font-size: $font-size-40;
                text-align: center;
                font-weight: $font-w-bold;
                border-radius: 20px;
                box-shadow: 10px 10px 0px 2px #000000;
                transition: transform 0.5s, box-shadow 0.2s; // 添加平滑效果
                margin-bottom: 110px;
                animation: big 1.5s ease-in-out infinite;

                @media (max-width:1470px) {
                    margin-bottom: 120px;
                }

                @media (max-width:1366px) {
                    margin-bottom: 60px;
                }

                @media (max-width:1024px) {
                    width: 150px;
                    line-height: 70px;
                    font-size: $font-size-24;
                    margin: 40px 0 20px 0px;
                }
            }
        }
    }
}

@keyframes jump {
    0% {
        transform: translateY(0px);
        /* 初始位置 */
    }

    30% {
        transform: translateY(-100px);
        /* 向上跳動 */
    }


    70% {
        transform: translateY(0);
        /* 回到初始位置 */
    }
}

@keyframes jump2 {
    0% {
        transform: translateY(0px);
        /* 初始位置 */
    }

    30% {
        transform: translateY(-80px);
        /* 向上跳動 */
    }


    70% {
        transform: translateY(0);
        /* 回到初始位置 */
    }
}

@keyframes big {
    0% {
        transform: scale(1)
            /* 初始位置 */
    }

    30% {
        transform: scale(1);
        /* 向上跳動 */
    }

    70% {
        transform: scale(1.2);
        /* 回到初始位置 */
    }

    100% {
        transform: scale(1);

    }
}


@media (min-width:1500px) {
    #Home-page-2 {
        .Home-content-bk-1 {

            .Home-content-1,
            .Home-content-2 {
                font-size: $font-size-64;
                margin-left: 100px;

                .Home-eng-text-1,
                .Home-eng-text-2 {
                    margin-left: 150px;
                    font-size: $font-size-28;
                }

                span {
                    font-size: 80px;
                    padding: 0 30px;
                }
            }

            .Home-content-2 {
                margin-left: 350px;
            }
        }

        .Home-content-bk-2 {
            margin: 250px 0 0 250px;

            .Home-content-3 {
                .Home-content-3-img {
                    width: 15%;
                    padding: 350px 0 0 80px;
                }

                .Home-text-2 {
                    font-size: $font-size-40;
                }

                .Home-eng-text-2 {
                    font-size: $font-size-32;
                    margin-top: 20px;
                }

                .Home-sml-text-2 {
                    font-size: $font-size-24;
                    padding-top: 30px;
                    font-weight: $font-w-medium;
                }
            }

            .Home-content-4 {
                margin: 200px 150px 0 0;

                .Home-text-block-2 {
                    .Home-text-2 {
                        font-size: $font-size-40;
                    }

                    .Home-eng-text-2 {
                        font-size: $font-size-32;
                    }

                    .Home-sml-text-2 {
                        font-size: $font-size-24;
                        font-weight: $font-w-medium;

                    }
                }

                .Home-content-4-img {
                    padding: 0 80px 0 0;
                    width: 25%;
                }
            }
        }
    }

    #Home-page-3 {
        margin-top: 40px;
        margin-bottom: 150px;

        .Home-content-bk {

            .Home-content-bk-3 {
                p {
                    height: 80px;
                    width: 80px;
                    font-size: 60px;
                }
            }

            .Home-content-bk-4 {
                margin-top: 250px;

                .Home-content-5,
                .Home-content-7 {
                    margin-left: 250px;
                }

                .Home-content-6 {
                    padding-bottom: 150px;
                }

                .Home-text-3 {
                    font-size: $font-size-40;

                    span {
                        font-size: 70px;
                    }
                }

                .Home-sml-text-3 {
                    font-size: $font-size-24;
                    font-weight: $font-w-medium;
                }
            }

            .Home-ladder {
                width: 100%;
            }
        }
    }


    #Home-page-4 {
        padding-top: 70px;

        .Home-content-6 {
            font-size: $font-size-48;
            margin: 20px 200px;
        }

        .Home-content-bk-all {
            .Home-content-bk-1 {
                margin: 60px 0 0 300px;
                width: 30%;

                .Home-content-7 {
                    font-size: $font-size-28;
                }

                .Home-content-8 {
                    font-size: $font-size-28;
                }

                .Home-content-img {
                    padding-top: 90px;
                    width: 50%;
                }
            }

            .Home-content-bk-2,
            .Home-content-bk-3 {
                margin-top: 12rem;

                .Home-content-9,
                .Home-content-11 {
                    font-size: 42px;
                }

                .Home-content-10,
                .Home-content-12 {
                    font-size: $font-size-24;
                }
            }
        }
    }

    #Home-page-5 {
        padding: 350px 0px;

        .Home-content-bk-4 {

            .Home-content-13 {
                font-size: $font-size-48;
                margin: 100px 150px 100px 80px;
            }

            .Home-content-bk-5 {
                .Home-greenIp {
                    width: 350px;
                }

                .Home-content-bk-text-5 {
                    display: block;
                    background-color: #FF6C64;
                    width: 240px;
                    line-height: 113px;
                    font-size: $font-size-40;
                    text-align: center;
                    font-weight: $font-w-bold;
                    border-radius: 20px;
                    box-shadow: 10px 10px 0px 2px #000000;
                    transition: transform 0.5s, box-shadow 0.2s; // 添加平滑效果
                    margin-bottom: 90px;

                    &:active {
                        box-shadow: none; // 點擊時移除陰影
                        transform: translateX(5px) translateY(5px);

                    }
                }

                .Home-btn {
                    width: 350px;

                }
            }
        }
    }
}



/* svg css */
.st0 {
    fill: #FDFAD3;
}

.st1 {
    fill: #1CB66B;
}

.st2 {
    fill: #EEF6F1;
}

.st3 {
    fill: #E92A16;
}

.st4 {
    fill: #020202;
}

.st5 {
    fill: #ED2714;
}

.st6 {
    fill: #060100;
}

.st7 {
    fill: #020000;
}

.st8 {
    fill: #F397C0;
}

.st9 {
    fill: #020101;
}

.st10 {
    fill: #020102;
}

.st11 {
    fill: #050304;
}

.st12 {
    fill: #228CD9;
}

.st13 {
    fill: #DB9753;
}

.st14 {
    fill: #010305;
}

.st15 {
    fill: #030202;
}

.st16 {
    fill: #030302;
}

.st17 {
    fill: #030303;
}

.handwriting {
    stroke: rgb(3, 3, 2);
    /* 描邊顏色 */
    stroke-width: 3;
    /* 描邊寬度 */
    fill: none;
    /* 沒有填充 */
    stroke-linecap: round;
    /* 圓形的邊角 */
    stroke-linejoin: round;
    /* 圓形的連接點 */
    stroke-dasharray: 1000;
    /* 設置虛線總長度（值需大於 path 總長度） */
    stroke-dashoffset: 1000;
    /* 初始化時，將虛線偏移設置為總長度，隱藏整個 path */
    animation: draw 2s linear forwards, fill 1s 1s linear forwards;
    /* 動畫效果 */
}

/* 填充效果 */
.handwriting {
    transition: fill 2s ease-in-out;
}

/* 定義描邊動畫 */
@keyframes draw {
    to {
        stroke-dashoffset: 0;
        /* 動畫結束時，偏移設置為 0，完整顯示 path */
    }
}

/* 定義填充動畫 */
@keyframes fill {
    0% {
        fill: transparent;
    }

    25% {
        fill: rgba(3, 3, 2, 0.25);
    }

    50% {
        fill: rgba(3, 3, 2, 0.5);
        /* 半透明填充 */
    }

    100% {
        fill: rgb(3, 3, 2);
        /* 完整填充 */
    }
}

#navbartext {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}


.move-right-blue {
    transform: translateX(0);
    transition: transform 1s ease-out;
    /* 平滑移动效果 */
}

/* 滾動到視窗中觸發後的位置 */
.move-right-blue.active {
    transform: translateX(-100px);
    /* 向右移動 100px */
}

.move-left-red {
    transform: translateX(0);
    transition: transform 0.5s ease-out;
    /* 平滑移动效果 */
}

/* 滾動到視窗中觸發後的位置 */
.move-left-red.active {
    transform: translateX(100px);
    /* 向右移動 100px */
}

.Home-ladder {
    transform: translateY(0);
    transition: transform 0.5s ease-out;
}

.Home-ladder.active {
    transform: translateY(150px);
    /* 向右移動 100px */
}

footer {
    @media (max-width:640px) {
        display: none;
    }
}