@use "./reset";
@use "./variables"as *;


#HtmlClassTitle-all {
    background-color: #fff;
    padding-bottom: 20px;
    width: 200px;

    .Html-H1 {
        font-size: $font-size-24;
        font-weight: $font-w-bold;
        color: #8BC5EA;
        text-align: center;
        line-height: 40px;
        margin-top: 10px;
    }

    .Html-title-all {
        overflow: auto;


        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;

        }

        .Html-Class {
            display: flex;
            flex-direction: column;

            .Html-H2 {
                text-align: center;
                display: block;
                font-size: $font-size-16;
                font-weight: $font-w-bold;
                background-color: #8BC5EA;
                margin-top: 15px;
                border-radius: 20px;
                overflow: hidden;
                /* 隱藏超出內容 */
                white-space: nowrap;
                /* 不換行 */
                text-overflow: ellipsis;
                /* 超出部分顯示省略號 */
                cursor: pointer;
                padding: 3px 9.5px;

            }

            .Html-H2.selected {
                background-color: #1E77B8;
            }


            .Html-Span {
                font-size: $font-size-12;
                font-weight: $font-w-medium;
                margin-bottom: 10px;
            }

        }
    }
}