@use "./reset";
@use "./variables"as *;

#LearnGame-page-all {
    background-color: $primary;
    overflow: hidden;
    height: 100vh;
    position: relative;
    @media (max-width:640px) {
        display: none;
    }
}

#LearnGame-page {
    // height: 90vh;
    /* 確保父容器高度為視口高度 */
    display: flex;
    /* 啟用 flexbox 布局 */
    justify-content: center;
    /* 水平方向置中 */
    margin-top: 30px;
    /* 垂直方向置中 */
    // position: relative;

    .LearnGame-img-position-1 {
        position: absolute;
        width: 5%;
        left: 50px;
        top: 100px;
    }

    .LearnGame-img-position-2 {
        position: absolute;
        width: 3%;
        right: 50px;
        top: 200px;
    }

    .LearnGame-img-position-3 {
        position: absolute;
        width: 2%;
        left: 80px;
        bottom: 100px;

    }

    .LearnGame-img-position-4 {
        position: absolute;
        width: 5%;
        right: 110px;
        bottom: 100px;

    }

    .LearnGame-img-position-green {
        position: absolute;
        width: 15%;
        bottom: -30px;
        left: 600px;
        z-index: 11;

    }

    .LearnGame-img-position-red {
        position: absolute;
        width: 15%;
        bottom: -60px;
        right: 200px;
        z-index: 11;
    }

    .LearnGame-img-position-pink {
        position: absolute;
        width: 15%;
        bottom: 0px;
        left: 150px;
        z-index: 11;
    }

    .LearnGame-img-position-blue {
        position: absolute;
        width: 12%;
        top: 250px;
        left: 100px;
        transform: rotate(-35deg);
        z-index: 9;
        @media ($mediaLg) {
            left: 350px;
        }

    }

    .LearnGame-blackboard {
        width: 1000px;
        height: 575px;
        background-color: $g-board1;
        border: 13px solid $g-board2;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 68px 100px 83px 100px;
        position: relative;
        z-index: 10;


        .LearnGame-img-position-5 {
            position: absolute;
            width: 5%;
            bottom: 0px;
            right: 80px;
        }

        .LearnGame-content-1,
        .LearnGame-content-2 {
            font-size: $font-size-40;
            color: #fff;
            font-weight: $font-w-bold;
        }

        .LearnGame-ready-1 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-right: 80px;


            .LearnGame-ready-bk-1 {
                display: flex;

                img {
                    width: 20%;
                    flex: 1;
                    margin-right: 10px;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                p {
                    font-size: $font-size-24;
                    color: #000;
                    font-weight: $font-w-bold;
                    background-color: $g-board3;
                    display: inline-block;
                    border-radius: 20px;
                    line-height: 60px;
                    padding: 0 6px;
                    text-align: center;
                    margin-right: 10px;
                }

                &:hover {
                    img {
                        opacity: 1;
                    }
                }
            }

            .LearnGame-ready-bk-2 {
                display: flex;

                img {
                    width: 20%;
                    margin-right: 10px;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                p {
                    font-size: $font-size-24;
                    color: #000;
                    font-weight: $font-w-bold;
                    background-color: $g-board3;
                    display: inline-block;
                    border-radius: 20px;
                    line-height: 60px;
                    padding: 0 6px;
                    text-align: center;
                }

                &:hover {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* 動畫 */