@use './reset';
@use './variables/' as *;

.collectbox {
    position: absolute;
    bottom: auto;
    right: auto;
    transition: position 0.3s ease, transform 0.3s ease;

    &.collectShow {
        position: fixed;
        bottom: 20px; // 距離視窗底部
        right: 20px; // 距離視窗右側
        transform: translateY(0);
        z-index: 1002;
    }

    .collectimage {
        width: 120px; // 圖片大小
        height: auto;
        cursor: pointer;

        

        svg {
            width: 100%;
            height: auto;
			transition: transform 0.5s;
            .collectlove{
                &.animate {
                    animation: collectmove 1s ease-in-out;
                  }
            }
        }
    }
}
@keyframes collectmove {
// 0%{transform:translateY(18px);}
// 46%{transform:translateY(0);}
// 64%{transform:translateY(-20px);}
// 75%{transform:translateY(-30px);}
// 88%{transform:translateY(-20px);}
// 100%{transform:translateY(0);}   
    0% {
		transform: translateY(18px);
	}

	4% {
		transform: translateY(-1.54%);
	}

	8% {
		transform: translateY(-0.66%);
	}

	18% {
		transform: translateY(-6.25%);
	}

	26% {
		transform: translateY(-1.63%);
	}

	46% {
		transform: translateY(-24.98%);
	}

	64% {
		transform: translateY(-1.99%);
	}

	76% {
		transform: translateY(-56.44%);
	}

	88% {
		transform: translateY(-89.11%);
	}

	100% {
		transform: translateY(-100%);
	}
  }