@use './reset';
@use './variables/' as *;


#learnArea-a {
    background-color: $primary;
    @media (max-width:640px) {
        display: none;
    }
    #la1 {
        background-image: url('../images/LearnArea-bg.svg');
        // background-size: w;
        background-position: center bottom -250px;
        ;
        background-repeat: no-repeat;
        
        background-size: 80% 80%;
    }
}