@use "./reset";
@use "./variables" as *;


#CssClassTitle-all {
    background-color: #fff;
    border-radius: 20px;

    .Css-H1 {
        font-size: $font-size-24;
        font-weight: $font-w-bold;
        color: $learn-p2; 
        text-align: center;
        line-height: 40px;
        margin-top: 10px;
    }

    .Css-title-all {
        overflow: auto;
        height: 70vh;

        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $register-2;
        
        }

        .Css-Class {
            .Css-H2 {
                text-align: center;
                display: block;
                font-size: $font-size-16;
                font-weight: $font-w-medium;
                background-color: $learn-p3;
                margin-top: 5px;
                border-radius: 20px;
                overflow: hidden;
                /* 隱藏超出內容 */
                white-space: nowrap;
                /* 不換行 */
                text-overflow: ellipsis;
                /* 超出部分顯示省略號 */
                cursor: pointer;
                padding: 0 10px;

            }
            .Css-H2.selected {
                background-color: $learn-p4;
            }


            .Css-Span {
                font-size: $font-size-12;
                font-weight: $font-w-medium;
                margin-bottom: 10px;
            }

        }
    }
}