@use "./reset";
@use "./variables/"as *;

#LearnPage-bk-1 {
    font-size: $font-size-20;
    font-weight: $font-w-bold;

    .LearnPage-bk-2 {
        display: flex;

        .LearnPage-bk-3 {
            display: block;

            flex: 2;
            .LearnPage-class-1 {
                font-size: $font-size-32;
                padding: 0px 10px;
                color: #1E77B8;
                font-weight: $font-w-black;
            }
        }

        .LearnPage-img-1 {
            transform: scaleX(-1);
            flex: 1;
        }

    }


}