@use './reset';
@use './variables/' as *;

#LearnAreaallall {
    background-color: $primary;
    background-image: url('../images/learnAreaLine.svg');
    background-position: center;
    background-size: 99% 99%;
    background-repeat: no-repeat;

    #LearnAreaall3 {
        // height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .learnbigtitle {
            align-self: flex-start;
            padding: 45px 0 0 65px;

            .bigtitleimg {
                width: 310px;
                height: 140px;
            }
        }

        .learnwordall {
            padding: 30px;
            margin-top: 80px;

            .learnword {
                display: flex;
                justify-content: center;
                align-items: center;


                .wordall {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 40px;

                    .wwword {
                        font-size: $font-size-40;
                        font-weight: $font-w-black;
                        color: $fc-5;
                        // -webkit-text-stroke: 1px $fc-5;
                        // text-stroke: 1px $fc-5;
                        position: relative;
                        padding-left: 100px;
                    }

                    .wordtitle1 {
                        &::before {
                            content: "";
                            width: 48px;
                            height: 48px;
                            background-color: transparent;
                            background-image: url('../images/icon_greenA.svg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;

                            position: absolute; //絕對定位
                            top: 10px;
                            left: 40px;
                        }
                    }

                    .wordtitle2 {
                        &::before {
                            content: "";
                            width: 48px;
                            height: 48px;
                            background-color: transparent;
                            background-image: url('../images/icon_red.svg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;

                            position: absolute; //絕對定位
                            top: 10px;
                            left: 40px;
                        }
                    }

                    .wordtitle3 {
                        &::before {
                            content: "";
                            width: 48px;
                            height: 48px;
                            background-color: transparent;
                            background-image: url('../images/icon_blue.svg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;

                            position: absolute; //絕對定位
                            top: 10px;
                            left: 40px;
                        }
                    }

                }

                .wordcontent {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 560px;
                    height: 100px;
                    padding: 10px 55px;
                    margin-right: 90px;
                    font-size: $font-size-16;
                    font-weight: $font-w-medium;
                    word-wrap: break-word;
                    word-break: keep-all;
                    text-align: center;

                    border-radius: 99px;
                    background-color: $fc-6 ;
                }

                .wordEnglish1 {
                    width: 200px;
                    height: 130px;
                    background-image: url('../images/learnAreaBoard.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: url('../images/learnAreaBoardS.png');
                    }
                }

                .wordEnglish2 {
                    width: 200px;
                    height: 130px;
                    background-image: url('../images/learnAreaBoard.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: url('../images/learnAreaBoardI.png');
                    }
                }

                .wordEnglish3 {
                    width: 200px;
                    height: 130px;
                    background-image: url('../images/learnAreaBoard.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: url('../images/learnAreaBoardU.png');
                    }
                }
            }
        }


    }

    #LearnAreaall3-1 {
        height: 130vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .charredimg {
            width: 300px;
            height: 300px;
        }

        .learnimportant {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 500px;
            // border: 1px solid green;

            .impbox {
                margin: 0 auto;
                width: 777px;
                height: 300px;
                align-self: center;

                background-image: url('../images/learnAreaPoint.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

                &:hover {
                    background-image: url('../images/learnAreaPoint_hover.svg');
                }
            }

            .charblueimg {
                position: absolute;
                width: 280px;
                height: 280px;
                z-index: 10;
                right: 10%;
                bottom: -100px;
            }
        }

        .happy {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 500px;

            .practice {
                width: 897px;
                height: 470px;

                .rightone,
                .rightthree{
                    animation: cloudFloat 5s linear  alternate infinite ;
                }
                .righttwo,
                .rightfour {
                    animation: cloudFloat 6s linear 1.5s alternate infinite ;
                }
                svg{
                    width: 880px;
                }
            }

            .practicebox {

                width: 335px;
                height: 170px;

            }
        }
    }
}
@keyframes cloudFloat {

    0% {
        transform: translateX(0) translateY(0); // 初始位置
    }

    50% {
        transform: translateX(-40px) translateY(-10px); // 稍微向左上飄
        
    }

    100% {
        transform: translateX(-60px) translateY(5px);
    }
}