@use "./reset";
@use "./variables" as *;

#learnhome-page {
    overflow: hidden;
    background-color: $learn-h1; // 背景藍
    height: 100vh;
    @media (max-width:640px) {
        display: none;
    }

    .link-learn {
        width: 100%;
    }

    h2 {
        font-size: $font-size-64;
        font-weight: bold;
        color: #000;
        letter-spacing: 2rem;
        text-align: center;
    }
    /* 最大的容器 */
    .learnhome-section1 {
        display: flex;
        flex-direction: column; // 整體垂直排列
        align-items: center;
        overflow: hidden;

        // 第一區：學習區
        .learning-section {
            display: flex;
            // position: relative;
            justify-content: space-around;
            align-items: center;
            background-color: $primary; // 黃色背景
            width: 100%;
            height: 28.6vh;
            cursor: pointer;

            h2 {
                width: 40%;
                transition: font-size 0.35s ease-in;
            }

            &:hover {
                h2 {
                    font-size: 5rem;
                }
            }

            // 綠色角色
            .learngreen {
                width: 225px;
                height: 225px;
                display: flex;
                justify-content: center;
                align-items: center;

                .learngreenB {
                    width: 100%;
                    height: 100%;
                    align-content: center;
                    transform: rotate(5deg);
                }
            }
        }

        // 第二區和第三區的容器，水平排列
        .learnhome-section2 {
            display: flex;
            justify-content: space-around;
            flex-direction: row; // 水平排列
            justify-content: center;
            width: 100%;

            // 垂直排列的區域
            .learnhome-section3 {
                display: flex;
                flex-direction: column; // 垂直排列
                width: 100%;
                cursor: pointer;

                // 第二區：小試身手
                .practice-section {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    background-color: $learn-h3; // 紅色背景
                    height: 28.5vh;

                    h2 {
                        width: 55%;
                        transition: font-size 0.35s ease-in;
                    }

                    &:hover {
                        h2 {
                            font-size: 4.5rem;
                        }

                        .star {
                            animation: my-animation 2s infinite;

                            @keyframes my-animation {
                                0% {
                                    opacity: 0;
                                }

                                100% {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    // 藍色角色
                    .learnblue {
                        margin-top: 120px;
                        height: 280px;
                        width: 280px;

                        .learnblue-svg {
                            height: 100%;
                            width: 100%;
                        }

                        .star {
                            opacity: 0; // 起始為隱藏
                        }
                    }
                }

                // 第三區：探索學習趨勢
                .explore-section {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    background-color: $learn-h2; // 綠色背景
                    height: 28.5vh;
                    overflow: hidden;

                    h2 {
                        width: 70%;
                        transition: font-size 0.35s ease-in;
                    }

                    &:hover {
                        h2 {
                            font-size: 4.5rem;
                        }

                        .heart {
                            animation: my-animation 2s infinite;

                            @keyframes my-animation {
                                0% {
                                    opacity: 0;
                                }

                                100% {
                                    opacity: 1;
                                }
                            }
                        }

                        .mouth {
                            animation: rotate-mouth 2s ease-in-out infinite;

                            @keyframes rotate-mouth {
                                0% {
                                    transform: rotate(0);
                                }

                                15% {
                                    transform: translateX(15px);
                                }

                                50% {
                                    transform: rotate(0);
                                }
                            }
                        }
                    }

                    // 粉紅角色
                    .learnpink {
                        width: 250px;
                        height: 250px;

                        .learnpink-svg {
                            margin-top: 80px;
                            width: 100%;
                            height: 100%;
                        }

                        .heart {
                            opacity: 0; // 起始為隱藏
                        }
                    }
                }
            }

            // 第四區：Do it!
            .doit-section {
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: $learn-h1;
                justify-content: center;
                width: 500px;
                padding-top: 30px;

                .speech-bubble {
                    background-image: url("../images/speech-bobble.png");
                    width: fit-content;
                    background-position: center;
                    background-repeat: no-repeat;
                    // line-height: 15px;
                    padding: 25px 60px 50px;

                    // position: relative;
                    // top: -20px;
                    // left: 10%;
                    // background: rgba(255, 255, 255, 0.655);
                    // padding: 8px 16px;
                    // border-radius: 99px;
                    font-size: $font-size-48;
                    font-weight: $font-w-black;
                    color: #000;
                }

                img {
                    width: 320px; // 紅色角色大小
                }
            }
        }
    }
    @media ($mediaLg) {

        h2 {
            font-size: 5rem;
            font-weight: bold;
            letter-spacing: 2rem;
            text-align: center;
        }
            .learnhome-section1 {
                // 第一區：學習區
                .learning-section {
                    height: 29vh;
                    &:hover {
                        h2 {
                            font-size: 6rem;
                        }
                    }

                    // 綠色角色
                    .learngreen {
                        width: 260px;
                        height: 260px;
                    }
                }
                // 第二區和第三區的容器，水平排列
                .learnhome-section2 {
                    // 垂直排列的區域
                    .learnhome-section3 {
                        // 第二區：小試身手
                        .practice-section {
                            height: 29vh;
                            h2 {
                                width: 50%;
                            }

                            &:hover {
                                h2 {
                                    font-size: 6rem;
                                }
                            }

                            // 藍色角色
                            .learnblue {
                                height: 320px;
                                width: 320px;
                            }
                        }

                        // 第三區：探索學習趨勢
                        .explore-section {
                            height: 29vh;


                            h2 {
                                width: 60%;
                            }
                            &:hover {
                                h2 {
                                    font-size: 6rem;
                                }
                            }

                            // 粉紅角色
                            .learnpink {
                                width: 300px;
                                height: 300px;

                                .learnpink-svg {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    // 第四區：Do it!
                    .doit-section {
                        width: 600px;

                        img {
                            width: 385px; // 紅色角色大小
                        }
                    }
                }
            }
        }
    }



