@use "./reset";
@use "./variables" as *;

#login-page {
    overflow: hidden;
    background-color: $primary; // 背景黃色
    height: 100vh;

    .login-main {
        // overflow: hidden;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: relative;

        .amoeba-blobs {
            width: 90%;
            position: absolute;
            left: 152px;
            top: -350px;
            overflow: hidden;
        }

        .characters {
            .green-char {
                width: 180px;
                position: absolute;
                top: -67px;
                left: 380px;
                transform-origin: center;
                transform: scaleX(-1) rotate(-45deg);
            }
        }

        .red-char {
            width: 240px;
            position: absolute;
            top: 420px;
            left: 1200px;
            animation: float 2s ease-in-out infinite;

            @keyframes float {
                0% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(-20px); // 向上移動 10px（可調整）
                }

                100% {
                    transform: translateY(0);
                }
            }
        }

        .blue-char {
            width: 150px;
            position: absolute;
            top: 222px;
            left: 155px;
        }

        .pink-char {
            width: 170px;
            position: absolute;
            top: 450px;
            left: 550px;
            z-index: 888;

            animation: rotate-small 2s ease-in-out infinite;

            @keyframes rotate-small {
                0% {
                    transform: rotate(0);
                }

                25% {
                    transform: translateX(30px);
                }

                50% {
                    transform: rotate(0);
                }
            }
        }

        .login-form {
            background-color: $register-1;
            padding: 36px;
            border-radius: 20px;
            box-shadow: 8px 8px 0 $shadow-3;
            width: 440px;
            height: 530px;
            position: absolute;
            top: 20px;
            left: 700px;
            z-index: 777;

            h2 {
                color: $shadow-3; // 紫色標題
                text-align: center;
                font-size: $font-size-32;
                font-weight: $font-w-bold;
                margin-bottom: 24px;
            }

            form {
                display: flex;
                flex-direction: column;

                label {
                    color: $shadow-3;
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                input {
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    padding: 8px;
                    margin-bottom: 16px;
                }

                .forgot-password {
                    text-align: right;
                    color: $shadow-3;
                    font-size: 0.9rem;
                    margin-bottom: 16px;
                    cursor: pointer;
                }

                    .login-button {
                        background-color: $shadow-3;
                        color: $fc-6;
                        border: none;
                        width: 100%;
                        padding: 18px 36px;
                        border-radius: 10px;
                        font-size: $font-size-16;
                        font-weight: bold;
                        box-shadow: 3px 3px 0 rgb(233, 210, 243);
                        cursor: pointer;

                        &:hover {
                            background-color: #887fe0;
                            color: $shadow-3;
                        }
                    }
                
            }

            .login-divider {
                display: flex;
                align-items: center;
                margin: 24px 0;

                hr {
                    flex: 1;
                    border: none;
                    height: 2px;
                    background-color: $register-2;
                }

                span {
                    margin: 0 8px;
                    color: $register-2;
                    font-weight: bold;
                }
            }

            .social-login {
                display: flex;
                justify-content: space-around;

                button {
                    cursor: pointer;
                    border: none;
                    background-color: transparent;

                    &:hover {
                        scale: 1.05;
                    }
                }
            }
        }

        @media ($mediaLg) {
            .amoeba-blobs {
                width: 100%;
                top: -600px;
                left: 172px;
                overflow: hidden;
            }

            .characters {
                .green-char {
                    width: 280px;
                    height: 280px;
                    top: -150px;
                    left: 520px;
                }
            }

            .red-char {
                width: 330px;
                height: 330px;
                top: 500px;
                left: 1540px;
            }

            .blue-char {
                width: 260px;
                height: 260px;
                top: 210px;
                left: 170px;
            }

            .pink-char {
                width: 250px;
                height: 250px;
                top: 570px;
                left: 680px;
            }

            .login-form {
                top: 50px;
                left: 1020px;
                top: 100px;
                transform: scale(1.3);

                .login-divider {
                    margin: 36px 0 24px;
                }
            }
        }
    }

    /* 跳窗 */
    .forgot {
        position: fixed;
        z-index: 1001;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $fc-2;
        display: flex;
        align-items: center;
        justify-content: center;

        .forgot-content {
            background-color: $Login-1;
            box-shadow: 5px 5px 0 $shadow-3;
            padding: 12px;
            border-radius: 16px;
            text-align: left;
            width: 25%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .foricon {
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                    font-size: $font-size-24;
                    font-weight: $font-w-bold;
                    color: $fc-3;
                }

                img {
                    width: 48px;
                    height: 48px;
                }
            }

            .forgot-form {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                width: 100%;

                label {
                    color: $fc-3;
                    font-size: $font-size-16;
                    font-weight: $font-w-medium;
                    margin-bottom: 5px;
                }

                input {
                    border: none;
                    background-color: $Login-2;
                    border-radius: 99px;
                    padding: 8px;
                    margin-bottom: 16px;
                }

                .remember {
                    text-align: center;
                    font-size: $font-size-14;

                }
            }

            .forgot-button {
                width: 200px;
                height: 40px;
                background-color: $g-card3;
                color: $fc-3;
                border: none;
                text-align: center;
                line-height: 40px;
                border-radius: 10px;
                font-size: 1rem;
                font-weight: bold;
                box-shadow: 0 2px 0 $shadow-3;
                cursor: pointer;

                &:hover {
                    background-color: #b9b4f5;
                    color: $shadow-3;
                }
            }
        }
    }
}
