@use './reset';
@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

#nav {

    position: fixed;
    z-index: 10;
    width: 100%;
}

#memberPage {
    background-color: $primary;
    display: flex;
    justify-content: end;
    padding-top: 118px;

    #member {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 700px;
        width: 390px;
        // border: 1px solid black;
        position: fixed;
        left: 5%;
        bottom: 0;
        z-index: 10;

        @media (min-width:1441px) {
            left: 15%;
        }

        .memberPic {
            position: absolute;
            top: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 99px;
            background-color: white;
            width: 200px;
            height: 200px;

            img {
                width: 160px;
                height: 130px;
            }
        }

        #memberAll {
            width: 390px;
            height: 545px;
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 60px 65px 15px 65px;
            background-color: $member;
            border-radius: 75px 75px 0 0;
            box-shadow: 10px 10px #897359;

            .memberInfo {
                width: 260px;
                height: 260px;
                background-image: url(../images/memberInfo.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                h2 {
                    text-align: center;
                    font-size: $font-size-24;
                    font-weight: $font-w-bold;
                    color: #FA8F21;
                    margin: 0 0 12px 0;
                }

                .name,
                .sexal,
                .age,
                .school,
                .time {
                    font-size: $font-size-16;
                    font-weight: $font-w-medium;
                    color: $fc-2;
                    display: flex;
                    flex-direction: row;
                    margin: 0 37px 8px 37px;

                    p {
                        margin-right: 10px;
                    }
                }
            }

            .memberAward {
                width: 260px;
                height: 260px;
                background-image: url(../images/memberInfo.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                h2 {
                    text-align: center;
                    font-size: $font-size-24;
                    font-weight: $font-w-bold;
                    color: #FA8F21;
                    margin: 0 0 12px 0;
                }

                .award {
                    display: flex;
                    margin: 20px 15px;

                    .aPic1 {
                        display: flex;
                        position: relative;
                        margin: auto;

                        img {
                            width: 100px;
                            height: 100px;
                        }

                        .awardName {
                            position: absolute;
                            z-index: 9;
                            // right: 5%;
                            bottom: 0;
                            color: $fc-2;
                            font-size: .8em;
                            background: $primary;
                            padding: 5px 10px;
                            border-radius: 15px;
                            font-weight: $font-w-bold;
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out;
                        }
                
                        &:hover .awardName {
                            opacity: 1;
                        }
                        
                    }

                }
            }

        }
    }

    #memberRight {
        display: flex;
        flex-direction: column;
        margin-right: 3em;

        @media (min-width:1441px) {
            margin-right: 18em;
        }

        #rightUp {
            display: flex;

            #progress {
                width: 380px;
                height: 380px;
                background-image: url(../images/memberCourse.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 10px 20px 10px;
                margin: 15px 15px 0 15px;

                .progressTitle {
                    width: 215px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-image: url(../images/memberB.png);
                    background-size: contain;
                    background-repeat: no-repeat;


                    h2 {
                        color: $fc-2;
                        font-size: $font-size-20;
                        font-weight: $font-w-bold;
                    }

                    img {
                        width: 48px;
                        height: 48px;
                    }
                }

                .course {

                    display: flex;
                    align-items: center;
                    background-color: #FFFCF0;
                    padding: 5px 15px;
                    border-radius: 10px;
                    box-shadow: 5px 5px #897359;
                    margin: 25px 0 10px 0;
                    font-size: $font-size-14;
                    font-weight: $font-w-medium;
                    color: $fc-2;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: $primary;
                    }

                    img {
                        width: 85px;
                        height: 55px;
                    }

                    .courseInfo {
                        padding-left: 15px;

                        h2 {
                            font-size: $font-size-16;
                            font-weight: $font-w-bold;
                        }

                        .progress {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            progress {
                                appearance: none;
                                width: 65%;
                                height: 10px;

                                &::-webkit-progress-bar {
                                    background-color: black; // 背景顏色

                                }

                                progress-bar {
                                    background-color: black; // 背景顏色

                                }

                                &::-webkit-progress-value {
                                    background-color: white; // 進度顏色
                                    border: 2px solid black;
                                }

                                progress-value {
                                    background-color: white; // 進度顏色
                                    border: 2px solid black;
                                }
                            }

                        }
                    }
                }

            }

            #collectionAll {
                width: 330px;
                height: 360px;
                background-image: url(../images/memberCourse.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 10px 20px 10px;
                margin: 35px 0 0 15px;

                .collectionTitle {
                    width: 215px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-image: url(../images/memberP.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-top: 20px;

                    h2 {
                        color: $fc-2;
                        font-size: $font-size-20;
                        font-weight: $font-w-bold;
                    }

                    img {
                        width: 48px;
                        height: 48px;
                    }
                }

                .collect,
                .collect1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFFCF0;
                    border-radius: 85px;
                    box-shadow: 5px 5px #897359;
                    margin: 8px 0;
                    transition: 0.3s ease-in-out;

                    .title {
                        font-size: 15px;
                        color: $fc-2;
                        background-color: $primary;
                        border-radius: 85px;
                        width: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.3s ease-in-out;
                    }

                    P {
                        font-size: $font-size-14;
                        font-weight: $font-w-bold;
                        color: $fc-2;
                        margin: 5px 8px;

                    }

                    &:hover {
                        background-color: #FFC800;

                        .title {
                            background-color: $fc-6;
                        }
                    }
                }

                .collect1 {
                    margin-top: 20px;
                }

            }

        }

        #award {
            width: 730px;
            height: 1090px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            margin-left: 20px;
            background-image: url(../images/memberAward.png);
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;



            .awardContent {
                width: 475px;
                height: 220px;
                background-color: $member;
                padding: 10px;
                margin-bottom: 40px;
                border-radius: 15px;

                h2 {
                    display: flex;
                    align-items: center;
                    font-size: $font-size-16;
                    font-weight: $font-w-bold;
                    color: $fc-2;

                    img {
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                    }
                }

                .awardPic {
                    display: flex;
                    flex-direction: column;

                    .aPic {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        .aPic1 {
                            position: relative;

                            img {
                                width: 80px;
                                height: 80px;
                                display: flex;
                                margin: 0 18px;
                            }
                            .awardName {
                                position: absolute;
                                z-index: 9;
                                right: 5%;
                                bottom: 0;
                                color: $fc-2;
                                font-size: .8em;
                                background: $primary;
                                padding: 5px 10px;
                                border-radius: 15px;
                                font-weight: $font-w-bold;
                                opacity: 0;
                                transition: opacity 0.3s ease-in-out;
                            }
                    
                            &:hover .awardName {
                                opacity: 1;
                            }

                            // &:before {
                            //     opacity: 0;

                            // }

                            // &:hover::before {
                            //     position: absolute;
                            //     z-index: 9;
                            //     right: 5%;
                            //     bottom: 0;
                            //     color: $fc-2;
                            //     font-size: .8em;
                            //     background: $primary;
                            //     padding: 5px 10px;
                            //     border-radius: 15px;
                            //     content: '我是獎盃名稱';
                            //     font-weight: $font-w-bold;
                            //     // transition: all 1s ease-in-out;
                            // }

                            // &::before:hover{
                            //     opacity: 1;
                            //     transition: 1s ease-in-out 3s;
                            // }

                            // @keyframes aaaaa {
                            //     0%   { opacity: 0;}
                            //     100% { opacity: 1; }
                            // }
                        }


                    }

                }


            }
        }


    }




}