@use './reset';
@use './variables'as *;

.navBarBk {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    position: sticky;
    z-index: 999;

    .navlogo {
        width: 87px;
        height: 53px;
    }

    .navBarBk-1 {
        display: flex;
        margin: 5px;

        .navlearningBtn {
            .navHamBtn-starLearn {
                display: block;
                width: 220px;
                height: 48px;
                line-height: 48px;
                margin-right: 50px;
                text-align: center;
                font-size: $font-size-24;
                font-weight: $font-w-bold;
                background-color: $member;
                border-radius: 30px;
                box-shadow: 5px 5px 0px 2px #000000;
                transition: transform 0.5s, box-shadow 0.1s; // 添加平滑效果

                &:hover {
                    transition: all 0.5s ease;

                    background-color: #ddc069;
                }

                &:active {
                    box-shadow: none;
                    transform: translateX(5px) translateY(5px);

                }
                
            }
            .navHamBtn-back {
                display: block;
                width: 150px;
                height: 48px;
                line-height: 48px;
                margin-right: 30px;
                text-align: center;
                font-size: $font-size-24;
                font-weight: $font-w-bold;
                background-color: #fff;
                border-radius: 30px;
                box-shadow: 5px 5px 0px 2px #000000;
                transition: transform 0.5s, box-shadow 0.1s; // 添加平滑效果

                &:hover {
                    transition: all 0.5s ease;

                    background-color: #d2cbcb;
                }

                &:active {
                    box-shadow: none;
                    transform: translateX(5px) translateY(5px);

                }
                
            }
        }

        .navhamBtn {
            .nav-hamburger {
                margin-bottom: 5px;
                background-color: transparent;
                border: none;
                background-color: #ef933a;
                border-radius: 10px;
                height: 48px;
                width: 48px;
                box-shadow: 5px 5px 0px 2px #000000;
                transition: transform 0.5s, box-shadow 0.1s; // 添加平滑效果
                cursor: pointer;

                &:hover {
                    transition: all 0.5s ease;

                    background-color: #ef7f0f;
                }

                &:active {
                    box-shadow: none;
                    transform: translateX(5px) translateY(5px);
                }

                .nav-bar {
                    display: block;
                    width: 36px;
                    height: 5px;
                    background-color: #333;
                    margin: 5px auto;
                    transition: 0.35s;
                }
            }



        }
    }
}

/* 漢堡按鈕的進場動畫 */
.HumMenu {
    position: fixed;
    right: -10px;
    top: 15px;
    z-index: 999;
    transition: transform 0.5s ease;
}

.HumMenu.show {
    transform: translateX(-4%);
}

.HumMenu.hide {
    transform: translateX(100%);
}

.donimg:hover {
    .testt {
        animation-name: ani-love1;
        /*動畫名稱*/
        animation-duration: 2s;
        /*一次完整動畫時間為2秒*/
        animation-iteration-count: infinite;
        /*播放次數為無限次*/
    }

    .testt1 {
        animation-name: ani-love2;
        /*動畫名稱*/
        animation-duration: 2s;
        /*一次完整動畫時間為2秒*/
        animation-iteration-count: infinite;
        /*播放次數為無限次*/
    }
}