@use "./reset";
@use "./variables" as *;

#register-page {
    overflow: hidden;
    background-color: $primary; // 背景黃色
    height: 100vh;
    // border: 1px solid red;

    .register-main {
        // overflow: hidden;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        // border: 1px solid red;

        .amoeba-blobs2 {
            width: 115%;
            position: absolute;
            left: 110px;
            top: -500px;
            overflow: hidden;
            // border: 1px solid red;
        }

        .characters {
            .green-char {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 35px;
                left: 360px;
                transform: rotate(-49deg);
            }

            .red-char {
                width: 168px;
                height: 168px;
                position: absolute;
                top: 300px;
                left: 110px;
                transform: rotate(-5deg);
                animation: float 2s ease-in-out infinite;
                // border: 1px solid red;

                @keyframes float {
                    0% {
                        transform: translateY(0);
                    }

                    50% {
                        transform: translateY(-20px); // 向上移動 10px（可調整）
                    }

                    100% {
                        transform: translateY(0);
                    }
                }
            }

            .blue-char {
                width: 178px;
                height: 178px;
                position: absolute;
                top: 470px;
                left: 550px;
            }

            .pink-char {
                width: 170px;
                height: 170px;
                position: absolute;
                z-index: 888;
                top: 470px;
                left: 1230px;
                transform: rotateY(-180deg);
                // border: 1px solid red;
            }
        }

        .register-form {
            background-color: $register-1;
            padding: 36px;
            border-radius: 20px;
            box-shadow: 8px 8px 0 $shadow-3;
            left: 770px;
            width: 450px;
            position: absolute;
            // border: 1px solid red;

            h2 {
                color: $shadow-3; // 紫色標題
                text-align: center;
                font-size: $font-size-32;
                font-weight: $font-w-bold;
                margin-bottom: 24px;
            }

            form {
                display: flex;
                flex-direction: column;

                .register-form-content {

                    label {
                        display: block;
                        color: $shadow-3;
                        font-weight: bold;
                        margin-bottom: 8px;
                    }

                    input {
                        display: flex;
                        width: 100%;
                        border: 1px solid #ddd;
                        border-radius: 10px;
                        padding: 8px;
                        margin-bottom: 16px;
                    }
                }

                .remember-password {
                    // text-align: center;
                    display: flex;
                    align-items: center;
                    color: $shadow-3;
                    font-size: 0.9rem;
                    margin-bottom: 16px;


                }

                .register-button {
                    background-color: $shadow-3;
                    color: #fff;
                    border: none;
                    padding: 18px 36px;
                    border-radius: 10px;
                    box-shadow: 3px 3px 0 rgb(233, 210, 243);
                    font-size: 1rem;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background-color: #b9b4f5;
                        color: $shadow-3;
                    }

                }


            }

            .register-divider {
                display: flex;
                align-items: center;
                margin: 24px 0;

                hr {
                    flex: 1;
                    border: none;
                    height: 2px;
                    background-color: $register-2;
                }

                span {
                    margin: 0 8px;
                    color: $register-2;
                    font-weight: bold;
                }
            }

            .social-register {
                display: flex;
                justify-content: space-around;

                button {
                    cursor: pointer;
                    border: none;
                    background-color: transparent;

                    &:hover {
                        scale: 1.05;
                    }
                }
            }
        }

        // 桌機板
        @media($mediaLg) {

            .amoeba-blobs2 {
                width: 125%;
                left: 110px;
                top: -780px;
            }

            .characters {
                .green-char {
                    width: 280px;
                    height: 280px;
                    top: -20px;
                    left: 530px;
                }

                .red-char {
                    width: 220px;
                    height: 220px;
                    top: 380px;
                    left: 110px;
                }

                .blue-char {
                    width: 240px;
                    height: 240px;
                    top: 560px;
                    left: 680px;
                }

                .pink-char {
                    width: 230px;
                    height: 230px;
                    top: 570px;
                    left: 1430px;

                }
            }

            .register-form {
                width: 495px;
                height: 650px;
                left: 950px;

                h2 {
                    margin-bottom: 36px;
                }

                form {
                    .remember-password {
                        font-size: 0.9rem;
                        margin-bottom: 16px;
                    }
                }

                .register-divider {
                    margin: 36px 0 24px;
                }
            }


        }
    }
}