@use "./reset";
@use "./variables"as *;

#register-page {
    overflow: hidden;
    background-color: $primary; // 背景黃色
    height: 100vh;

    @media (max-width:640px) {
        display: none;
    }

    .register-main {
        // overflow: hidden;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;


        .amoeba-blobs2 {
            width: 115%;
            position: absolute;
            left: 110px;
            top: -500px;
            overflow: hidden;

        }

        .characters {
            .green-char {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 35px;
                left: 360px;
                transform: rotate(-40deg);

            }

            .red-char {
                width: 168px;
                height: 168px;
                position: absolute;
                top: 300px;
                left: 110px;
                animation: float 2s ease-in-out infinite;


                @keyframes float {
                    0% {
                        transform: translateY(0);
                    }

                    50% {
                        transform: translateY(50px); // 向上移動 10px（可調整）
                    }

                    100% {
                        transform: translateY(0);
                    }
                }
            }

            .blue-char {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 470px;
                left: 550px;
                transform: rotateY(-180deg);
            }

            .pink-char {
                width: 170px;
                height: 170px;
                position: absolute;
                top: 470px;
                left: 1230px;
                transform: rotateY(-180deg);
            }
        }

        .register-form {
            background-color: $register-1;
            padding: 36px;
            border-radius: 20px;
            box-shadow: 8px 8px 0 $shadow-3;
            left: 770px;
            width: 450px;
            position: absolute;


            h2 {
                color: $shadow-3; // 紫色標題
                text-align: center;
                font-size: $font-size-32;
                font-weight: $font-w-bold;
                margin-bottom: 24px;
            }

            form {
                display: flex;
                flex-direction: column;

                .register-form-content {
                    label {
                        display: block;
                        color: $shadow-3;
                        font-weight: bold;
                        margin-bottom: 8px;
                    }

                    input {
                        display: flex;
                        width: 100%;
                        border: 1px solid #ddd;
                        border-radius: 10px;
                        padding: 8px;
                        margin-bottom: 16px;
                    }
                }

                .remember-password {
                    // text-align: center;
                    display: flex;
                    align-items: center;
                    color: $shadow-3;
                    font-size: 0.9rem;
                    margin-bottom: 16px;
                }

                .register-button {
                    width: 100%;
                    background-color: $shadow-3;
                    color: $fc-6;
                    border: none;
                    padding: 18px 36px;
                    border-radius: 10px;
                    box-shadow: 3px 3px 0 rgb(233, 210, 243);
                    font-size: $font-size-16;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background-color: #887fe0;
                        color: $shadow-3;
                    }
                }

            }

            .register-divider {
                display: flex;
                align-items: center;
                margin: 24px 0;

                hr {
                    flex: 1;
                    border: none;
                    height: 2px;
                    background-color: $register-2;
                }

                span {
                    margin: 0 8px;
                    color: $register-2;
                    font-weight: bold;
                }
            }

            .social-register {
                display: flex;
                justify-content: space-around;

                button {
                    cursor: pointer;
                    border: none;
                    background-color: transparent;

                    &:hover {
                        scale: 1.05;
                    }
                }
            }
        }

        // 桌機板
        @media ($mediaLg) {
            .amoeba-blobs2 {
                width: 125%;
                left: 110px;
                top: -780px;
            }

            .characters {
                .green-char {
                    width: 260px;
                    height: 260px;
                    top: 90px;
                    left: 600px;
                }

                .red-char {
                    width: 250px;
                    height: 250px;
                    top: 380px;
                    left: 110px;
                }

                .blue-char {
                    width: 260px;
                    height: 260px;
                    top: 610px;
                    left: 680px;
                    z-index: 1000;
                }

                .pink-char {
                    width: 250px;
                    height: 250px;
                    top: 610px;
                    left: 1630px;
                }
            }

            .register-form {
                top: 50px;
                left: 950px;
                top: 100px;
                transform: scale(1.3);

                h2 {
                    margin-bottom: 36px;
                }

                form {
                    .remember-password {
                        font-size: 0.9rem;
                        margin-bottom: 16px;
                    }
                }

                .register-divider {
                    margin: 36px 0 24px;
                }
            }
        }
    }
}