@use './reset';

#div1 {
    background-color: #FFD640;
    display: flex;
    flex-direction: column;
    height: 820px;
    overflow: hidden;
    position: relative;


    // border: 2px red solid;



    .lightcontainer {
        margin-top: -100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -100px;

        .light {
            width: 150px;
            z-index: 4;
            position: absolute;
        }

        .hottitle {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            position: absolute;
            z-index: 5;
            top: 180px;
        }

        .container {
            display: flex;
            justify-content: center;
            width: 100%;

            // img {
            //     opacity: 0; // 初始為隱藏
            //     animation: fadeInLight 1s linear  forwards; 
            //   }

            .light1 {
                position: absolute;
                height: 600px;
                transform: translate(30px, 120px);
                z-index: 1;
                opacity: 0; // 初始為隱藏
                animation: fadeInLight .1s ease-Out forwards;
                animation-delay: 0.1s;
            }

            .light2 {
                transform: translate(0, 120px);
                position: absolute;
                height: 600px;
                z-index: 2;
                opacity: 0; // 初始為隱藏
                animation: fadeInLight .1s ease-Out forwards;
                animation-delay: .4s;
            }

            .light3 {
                transform: translate(0, 120px);
                position: absolute;
                height: 600px;
                z-index: 3;
                opacity: 0; // 初始為隱藏
                animation: fadeInLight .1s ease-Out forwards;
                animation-delay: .7s;

            }
        }
    }

    .deco-1 {
        position: absolute;
        width: 3%;
        top: 500px;
        left: 125px;
    }

    .deco-2 {
        position: absolute;
        width: 3%;
        top: 150px;
        left: 400px;
    }

    .deco-3 {
        position: absolute;
        width: 5%;
        top: 200px;
        right: 200px;
    }

    #item3 {
        position: absolute;
        z-index: 8;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        // bottom: 90px;
        top: 530px;
        width: 100%;
        height: 300px;
        // border: 2px rgb(9, 101, 18) solid;

        .char-1 {
            width: 155px;
            height: 255px;
            padding-top: 80px;
        }

        .char-2 {
            width: 200px;
            height: 200px;
            // padding-bottom: 50px;
        }

        .char-3 {
            width: 150px;
            height: 150px;
        }
    }

    .path {
        position: absolute;
        // bottom: 0px;
        top: 540px;
        left: 0;
        z-index: 5;
        width: 100%;

        @media (min-width:1560px) {
            position: absolute;
            top: 470px;
            left: 0;
            z-index: 5;
            width: 100%;
        }
    }
}

#div2 {
    // height: 2160px;
    // width: 100%;
    // height: 100%;
    background-color: #FFD640;
    background-image: url('../images/trendLine.png');
    background-size: 99%;
    background-position: left top 140px;
    background-repeat: no-repeat;
    // opacity: 0; // 初始透明
    // transition: opacity 0.5s ease-out; // 平滑顯現過渡
    // &.scrolled {
    //     opacity: 1; // 滚动时显示
    //   }
}

@keyframes fadeInLight {
    0% {
        opacity: 0;
        //   filter: brightness(0%);
    }

    100% {
        opacity: 1;
        //   filter: brightness(100%);
    }
}