@use './reset';
@use './variables/' as *;
.cardcontent{ 
    position: relative;
    width: 100%;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    padding: 180px 0 0 0;
    z-index: 100;
    // border: #33322f 2px solid;
    
    .card1 {
        display: flex;
        flex-direction: column;
        margin: 30px 30px 0 30px;
        align-items: center;
        background-color: rgb(252, 249, 249);
        // width: 250px;
        width: 215px;
        height: 260px;
        border-radius: 10px;
        box-shadow: 8px 8px 0 #33322f;
        position: relative;
        opacity: 0;
        animation:cardShow 0.3s ease-in-out forwards 1.2s;        

        &::before{ content:""; 
            width: 82px;
            height: 88px;
            background-color: transparent;
            background-image:url('../images/trendSecond.png');
            background-position: center ;
            background-size: contain;
            background-repeat: no-repeat;

            position: absolute; //絕對定位
            top: -10px;
            left: -25px;
        }
        h3{
            font-size:16px;
            font-weight:bold ;
           background-color: #FFC800;
           border-radius: 20px;
           padding: 5px 15px;
           margin: 15px 0px 10px 0px;
            
        }
        img{
            width: 100%;
        }
        
        .item{
            text-align: center;
            width: 50%;
            padding-top: 10px;
            .learn{
                font-weight: bold;
                margin-bottom: 10px;
            }
            .content{
                border-radius: 20px;
                background-color: #E7E7E7;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    
    }
    .card2 {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 30px 30px 0 30px;
        align-items: center;
        background-color: rgb(252, 249, 249);
        // width: 250px;
        width: 215px;
        height: 260px;
        border-radius: 10px;
        box-shadow: 8px 8px 0 #33322f;
        position: relative;
        opacity: 0;
        animation:cardShow 0.3s ease-in-out forwards 1s;  

        &::before{ content:""; 
            width: 82px;
            height: 88px;
            background-color: transparent;
            background-image:url('../images/trendFirst.png');
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;

            position: absolute; //絕對定位
            top: -10px;
            left: -25px;
        }
        h3{
            font-size:16px;
            font-weight:bold ;
           background-color: #FFC800;
           border-radius: 20px;
           padding: 5px 15px;
           margin: 15px 0px 10px 0px;
            
        }
        img{
            width: 100%;
        }
        
        .item{
            text-align: center;
            width: 50%;
            padding-top: 10px;
            .learn{
                font-weight: bold;
                margin-bottom: 10px;
            }
            .content{
                border-radius: 20px;
                background-color: #E7E7E7;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    
    }
    .card3 {
        display: flex;
        flex-direction: column;
        margin: 30px 30px 0 30px;
        align-items: center;
        background-color: rgb(252, 249, 249);
        // width: 250px;
        width: 215px;
        height: 260px;
        border-radius: 10px;
        box-shadow: 8px 8px 0 #33322f;
        position: relative;
        opacity: 0;
        animation:cardShow 0.3s ease-in-out forwards 1.7s;  

        &::before{ content:""; 
            width: 82px;
            height: 88px;
            background-color: transparent;
            background-image:url('../images/trendThird.png');
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;

            position: absolute; //絕對定位
            top: -10px;
            left: -25px;
        }
        h3{
            font-size:16px;
            font-weight:bold ;
           background-color: #FFC800;
           border-radius: 20px;
           padding: 5px 15px;
           margin: 15px 0px 10px 0px;
            
        }
        img{
            width: 100%;
        }
        
        .item{
            text-align: center;
            width: 50%;
            padding-top: 10px;
            .learn{
                font-weight: bold;
                margin-bottom: 10px;
            }
            .content{
                border-radius: 20px;
                background-color: #E7E7E7;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    
    }
    .card1,.card2,.card3{
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    .card1:hover, .card2:hover, .card3:hover {
        transform: translate(-3px,-3px);
      }
}
@keyframes cardShow{
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}