@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
#LearnSelectAllpage {
  background-color: #FFD640;
  height: 100vh;
}

#codeCourse {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 1023px) {
  #codeCourse {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#codeCourse #codePic {
  position: relative;
  width: 650px;
  height: 650px;
}
@media (max-width: 1023px) {
  #codeCourse #codePic {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 640px) {
  #codeCourse #codePic {
    display: none;
  }
}
#codeCourse #codePic .tier4 {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
#codeCourse #codePic .tier3 {
  position: absolute;
  z-index: 2;
  width: 120px;
  height: 100px;
  left: 400px;
  top: 120px;
  transform: rotate(-20deg);
}
#codeCourse #codePic .tier3:hover {
  animation: rotateIn 350ms ease-in-out forwards;
}
#codeCourse #codePic .tier3:not(:hover) {
  animation: rotateOut 350ms ease-in-out forwards;
}
@media (max-width: 1023px) {
  #codeCourse #codePic .tier3 {
    width: 85px;
    height: 65px;
    left: 280px;
    top: 85px;
  }
}
#codeCourse #codePic .tier2 {
  position: absolute;
  z-index: 3;
  pointer-events: none;
}
#codeCourse #codePic .tier1a {
  position: absolute;
  z-index: 4;
  top: 140px;
  left: 160px;
}
#codeCourse #codePic .tier1a:hover g.eye {
  animation: translateXIn 350ms ease-in-out both;
}
#codeCourse #codePic .tier1a:not(:hover) g.eye {
  animation: translateXOut 350ms ease-in-out forwards;
}
@media (max-width: 1023px) {
  #codeCourse #codePic .tier1a {
    width: 65px;
    height: 65px;
    left: 100px;
    top: 95px;
  }
}
#codeCourse #codePic .tier1b {
  position: absolute;
  z-index: 5;
  bottom: 230px;
  left: 220px;
}
#codeCourse #codePic .tier1b .wink {
  animation: wink 5150ms ease-in-out forwards;
  animation-iteration-count: infinite;
}
@media (max-width: 1023px) {
  #codeCourse #codePic .tier1b {
    width: 85px;
    height: 80px;
    left: 145px;
    top: 210px;
  }
}
#codeCourse #codePic .tier1c {
  position: absolute;
  z-index: 6;
  width: 120px;
  height: 120px;
  bottom: 90px;
  right: 100px;
}
@media (max-width: 1023px) {
  #codeCourse #codePic .tier1c {
    width: 85px;
    height: 85px;
    right: 70px;
    bottom: 55px;
  }
}
#codeCourse #course {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  #codeCourse #course {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 640px) {
  #codeCourse #course {
    flex-direction: column;
  }
}
#codeCourse #course .select {
  position: relative;
  padding: 20px 0;
}
@media (max-width: 1023px) {
  #codeCourse #course .select {
    width: 300px;
    height: 250px;
    margin: 0 20px;
  }
}
#codeCourse #course .select .select-link {
  display: block;
  width: 450px;
  height: 275px;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}
@media (max-width: 1023px) {
  #codeCourse #course .select .select-link {
    width: 300px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
#codeCourse #course .select h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
@media (max-width: 1023px) {
  #codeCourse #course .select h2 {
    font-size: 2.3rem;
  }
}
#codeCourse #course .HTML {
  background-image: url("../images/learnSelectHTML.svg");
}
#codeCourse #course .HTML:hover {
  background-image: url("../images/learnSelectHTML_hover.svg");
}
#codeCourse #course .CSS {
  background-image: url("../images/learnSelectCSS.svg");
}
#codeCourse #course .CSS:hover {
  background-image: url("../images/learnSelectCSS_hover.svg");
}

/* 小粉愛心 */
@keyframes translateXIn {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes translateXOut {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* 小紅旋轉 */
@keyframes rotateIn {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@keyframes rotateOut {
  0% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
/* 小綠眨眼 */
@keyframes wink {
  0% {
    height: 0;
  }
  3% {
    height: 28px;
  }
  5% {
    height: 0px;
  }
}/*# sourceMappingURL=LearnSelect.css.map */