@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
#login-page {
  overflow: hidden;
  background-color: #FFD640;
  height: 100vh;
}
#login-page .login-main {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
#login-page .login-main .amoeba-blobs {
  width: 90%;
  position: absolute;
  left: 152px;
  top: -350px;
  overflow: hidden;
}
#login-page .login-main .characters .green-char {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -67px;
  left: 380px;
  transform: rotate(40deg);
}
#login-page .login-main .red-char {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 420px;
  left: 1200px;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
#login-page .login-main .blue-char {
  width: 175px;
  height: 175px;
  position: absolute;
  top: 245px;
  left: 145px;
}
#login-page .login-main .pink-char {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 450px;
  left: 550px;
  z-index: 888;
  animation: rotate-small 2s ease-in-out infinite;
}
@keyframes rotate-small {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: translateX(30px);
  }
  50% {
    transform: rotate(0);
  }
}
#login-page .login-main .login-form {
  background-color: #FEE3EC;
  padding: 36px;
  border-radius: 20px;
  box-shadow: 8px 8px 0 #534D97;
  width: 440px;
  height: 530px;
  position: absolute;
  top: 20px;
  left: 700px;
  z-index: 777;
}
#login-page .login-main .login-form h2 {
  color: #534D97;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 24px;
}
#login-page .login-main .login-form form {
  display: flex;
  flex-direction: column;
}
#login-page .login-main .login-form form label {
  color: #534D97;
  font-weight: bold;
  margin-bottom: 8px;
}
#login-page .login-main .login-form form input {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 16px;
}
#login-page .login-main .login-form form .forgot-password {
  text-align: right;
  color: #534D97;
  font-size: 0.9rem;
  margin-bottom: 16px;
}
#login-page .login-main .login-form form .login-button {
  background-color: #534D97;
  color: #fff;
  border: none;
  padding: 18px 36px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 3px 3px 0 rgb(233, 210, 243);
  cursor: pointer;
}
#login-page .login-main .login-form form .login-button:hover {
  background-color: #b9b4f5;
  color: #534D97;
}
#login-page .login-main .login-form .login-divider {
  display: flex;
  align-items: center;
  margin: 24px 0;
}
#login-page .login-main .login-form .login-divider hr {
  flex: 1;
  border: none;
  height: 2px;
  background-color: #A2A2A2;
}
#login-page .login-main .login-form .login-divider span {
  margin: 0 8px;
  color: #A2A2A2;
  font-weight: bold;
}
#login-page .login-main .login-form .social-login {
  display: flex;
  justify-content: space-around;
}
#login-page .login-main .login-form .social-login button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
#login-page .login-main .login-form .social-login button:hover {
  scale: 1.05;
}
@media (min-width: 1441px) {
  #login-page .login-main .amoeba-blobs {
    width: 100%;
    top: -600px;
    left: 172px;
    overflow: hidden;
  }
  #login-page .login-main .characters .green-char {
    width: 280px;
    height: 280px;
    top: -150px;
    left: 520px;
    transform: rotate(20deg);
  }
  #login-page .login-main .red-char {
    width: 300px;
    height: 300px;
    top: 500px;
    left: 1440px;
  }
  #login-page .login-main .blue-char {
    width: 240px;
    height: 240px;
    top: 300px;
    left: 160px;
  }
  #login-page .login-main .pink-char {
    width: 220px;
    height: 220px;
    top: 570px;
    left: 680px;
  }
  #login-page .login-main .login-form {
    width: 480px;
    height: 560px;
    top: 50px;
    left: 920px;
  }
  #login-page .login-main .login-form .login-divider {
    margin: 36px 0 24px;
  }
}/*# sourceMappingURL=Login.css.map */