@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
#div1 {
  background-color: #FFD640;
  display: flex;
  flex-direction: column;
  height: 820px;
  overflow: hidden;
  position: relative;
}
#div1 .lightcontainer {
  margin-top: -100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -100px;
}
#div1 .lightcontainer .light {
  width: 150px;
  z-index: 4;
  position: absolute;
}
#div1 .lightcontainer .hottitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  z-index: 5;
  top: 180px;
}
#div1 .lightcontainer .container {
  display: flex;
  justify-content: center;
  width: 100%;
}
#div1 .lightcontainer .container .light1 {
  position: absolute;
  height: 600px;
  transform: translate(30px, 120px);
  z-index: 1;
  opacity: 0;
  animation: fadeInLight 0.3s ease-Out forwards;
  animation-delay: 0.5s;
}
#div1 .lightcontainer .container .light2 {
  transform: translate(0, 120px);
  position: absolute;
  height: 600px;
  z-index: 2;
  opacity: 0;
  animation: fadeInLight 0.1s ease-Out forwards;
  animation-delay: 1s;
}
#div1 .lightcontainer .container .light3 {
  transform: translate(0, 120px);
  position: absolute;
  height: 600px;
  z-index: 3;
  opacity: 0;
  animation: fadeInLight 0.1s ease-Out forwards;
  animation-delay: 1.5s;
}
#div1 .deco-1 {
  position: absolute;
  width: 3%;
  top: 500px;
  left: 125px;
}
#div1 .deco-2 {
  position: absolute;
  width: 3%;
  top: 150px;
  left: 400px;
}
#div1 .deco-3 {
  position: absolute;
  width: 5%;
  top: 200px;
  right: 200px;
}
#div1 #item3 {
  position: absolute;
  z-index: 8;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  top: 530px;
  width: 100%;
  height: 300px;
}
#div1 #item3 .char-1 {
  width: 155px;
  height: 255px;
  padding-top: 80px;
}
#div1 #item3 .char-2 {
  width: 200px;
  height: 200px;
}
#div1 #item3 .char-3 {
  width: 150px;
  height: 150px;
}
#div1 .path {
  position: absolute;
  top: 540px;
  left: 0;
  z-index: 5;
  width: 100%;
}

#div2 {
  background-color: #FFD640;
  background-image: url("../images/trendLine.png");
  background-size: 99%;
  background-position: left top 140px;
  background-repeat: no-repeat;
}

@keyframes fadeInLight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=Trend.css.map */