//間距
// $interval-xs: ;
// $interval-s: ;
// $interval-m: ;
// $interval-l: ;
// $interval-xl: ;
// $interval-xxl: ;

// $interval-x-s: ;
// $interval-x-m: ;
// $interval-x-l: ;

// $interval-y-s: ;
// $interval-y-m: ;
// $interval-y-l: ;

// $interval-label: ;
// $interval-xy-l: ;
// $interval-s-xy-l: ;
// $interval-x-center: 20px auto;

$mediaLg: 'min-width: 1441px';