// 字級
// $font-size-xs:10px;
// $font-size-s: 14px;
// $font-size-m: 16px;
// $font-size-l: 20px;
// $font-size-xl: 24px;
// $font-size-xxl: 28px;
// $font-size-xxxl: 32px;
// $font-size-xxxxl: 36px;
// $font-size-xxxxxl: 40px;
// $font-size-xxxxxxl: 48px;

$font-size-10:0.6rem;
$font-size-12:0.8rem;
$font-size-14:0.85rem;
$font-size-16:1rem;
$font-size-20:1.25rem;
$font-size-24:1.5rem;
$font-size-28:1.8rem;
$font-size-32:2rem;
$font-size-36:2.3rem;
$font-size-40:2.5rem;
$font-size-48:3rem;
$font-size-52:3.2rem;
$font-size-64:4rem;

//字重
$font-w-regular:400;
$font-w-medium:500;
$font-w-bold:700;
$font-w-black:900;