@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
@font-face {
  font-family: SweiGothicCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
}
#Home-page-1 {
  background-color: #FFD640;
}

#Home-page-all2 {
  background-color: #FFD640;
}

#Home-page-all {
  background-image: url(../images/homeAll.svg);
  background-color: #FFD640;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "SweiGothicCJKtc-Regular", sans-serif;
}

#Home-page-2 {
  /* height: 1400px;
     background-color: $primary;
     background-image: url('../public/images/homePathA.png');
     background-position: left center;
     background-repeat: no-repeat;
     background-size: 100%;
  */
}
#Home-page-2 .Home-content-bk-1 .Home-content-1,
#Home-page-2 .Home-content-bk-1 .Home-content-2 {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: #CA5171;
  margin-left: 50px;
  font-weight: 700;
}
#Home-page-2 .Home-content-bk-1 .Home-content-1 .Home-eng-text-1,
#Home-page-2 .Home-content-bk-1 .Home-content-2 .Home-eng-text-1 {
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.85);
}
#Home-page-2 .Home-content-bk-1 .Home-content-1 .Home-eng-text-2,
#Home-page-2 .Home-content-bk-1 .Home-content-2 .Home-eng-text-2 {
  margin-left: 103px;
  color: rgba(0, 0, 0, 0.85);
}
#Home-page-2 .Home-content-bk-1 .Home-content-1 span,
#Home-page-2 .Home-content-bk-1 .Home-content-2 span {
  font-size: 4rem;
  color: #FFFFFF;
  padding: 0 20px;
  text-shadow: 5px 5px #897359;
}
#Home-page-2 .Home-content-bk-1 .Home-content-1 .Home-eng-text-1,
#Home-page-2 .Home-content-bk-1 .Home-content-1 .Home-eng-text-2,
#Home-page-2 .Home-content-bk-1 .Home-content-2 .Home-eng-text-1,
#Home-page-2 .Home-content-bk-1 .Home-content-2 .Home-eng-text-2 {
  font-size: 1.5rem;
}
#Home-page-2 .Home-content-bk-1 .Home-content-2 {
  margin-left: 256px;
}
#Home-page-2 .Home-content-bk-2 {
  display: flex;
  flex-direction: column;
  margin: 190px 0 0 190px;
}
#Home-page-2 .Home-content-bk-2 .Home-content-3 {
  display: flex;
}
#Home-page-2 .Home-content-bk-2 .Home-content-3 .Home-content-3-img {
  width: 15%;
  padding: 160px 0px 0px 50px;
}
#Home-page-2 .Home-content-bk-2 .Home-content-3 .Home-text-2 {
  display: inline-block;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
  background-color: #FFF0C0;
  line-height: 25px;
  /* 背景顏色待調整 */
}
#Home-page-2 .Home-content-bk-2 .Home-content-3 .Home-eng-text-2 {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
  line-height: 15px;
  background-color: #FFF0C0;
  display: inline-block;
  margin-top: 15px;
}
#Home-page-2 .Home-content-bk-2 .Home-content-3 .Home-sml-text-2 {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  padding-top: 20px;
}
#Home-page-2 .Home-content-bk-2 .Home-content-4 {
  display: flex;
  flex-direction: column;
  margin: 66px 119px 0 0;
}
@media (max-width: 1280px) {
  #Home-page-2 .Home-content-bk-2 .Home-content-4 {
    margin: 66px 70px 0 0;
  }
}
#Home-page-2 .Home-content-bk-2 .Home-content-4 .Home-text-block-2 {
  text-align: right;
}
#Home-page-2 .Home-content-bk-2 .Home-content-4 .Home-text-block-2 .Home-text-2 {
  display: inline-flex;
  background-color: #FFF0C0;
  line-height: 25px;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.85);
  text-align: right;
  font-weight: 700;
  /* background-color: $shadow-2; */
  /* 背景顏色待調整 */
}
#Home-page-2 .Home-content-bk-2 .Home-content-4 .Home-text-block-2 .Home-eng-text-2 {
  display: inline-block;
  background-color: #FFF0C0;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
  line-height: 15px;
  margin-top: 15px;
}
#Home-page-2 .Home-content-bk-2 .Home-content-4 .Home-text-block-2 .Home-sml-text-2 {
  padding-top: 20px;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
#Home-page-2 .Home-content-bk-2 .Home-content-4 .Home-content-4-img {
  padding: 50px 50px 0 0;
  transform: rotate(-10deg);
  width: 25%;
  margin: auto;
}

#Home-page-3 {
  margin-top: 80px;
  margin-bottom: 100px;
}
#Home-page-3 .Home-content-bk {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 75%;
}
@media (max-width: 1280px) {
  #Home-page-3 .Home-content-bk {
    width: 100%;
  }
}
#Home-page-3 .Home-content-bk .Home-content-bk-3 p {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  font-size: 50px;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 65px;
  font-weight: 700;
}
@media (max-width: 1280px) {
  #Home-page-3 .Home-content-bk .Home-content-bk-3 p {
    margin-left: 140px;
  }
}
#Home-page-3 .Home-content-bk .Home-ladder {
  width: 80%;
}
#Home-page-3 .Home-content-bk .Home-content-bk-4 {
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 200px;
}
#Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-content-5,
#Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-content-7 {
  text-align: right;
  flex: 1;
  margin-left: 200px;
  padding-bottom: 40px;
}
#Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-content-6 {
  text-align: left;
  flex: 1;
  padding-bottom: 50px;
}
#Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-text-3 {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(to top, #FFF0C0 30%, transparent 30%);
  display: inline-block;
}
@media (max-width: 1366px) {
  #Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-text-3 {
    font-size: 1.5rem;
  }
}
#Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-text-3 span {
  font-size: 58px;
  color: #69B169;
}
@media (max-width: 1366px) {
  #Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-text-3 span {
    font-size: 3rem;
  }
}
#Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-sml-text-3 {
  font-size: 1.25rem;
  font-weight: 500;
}
@media (max-width: 1366px) {
  #Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-sml-text-3 {
    font-size: 1rem;
  }
}

#Home-page-4 {
  padding-top: 0px;
  /* height: 2000px;
  background-color: $primary;
  background-image: url(../public/images/homePathB.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%; */
}
#Home-page-4 .Home-content-6 {
  display: flex;
  justify-content: flex-end;
  font-size: 2.3rem;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  margin: 10px 150px;
}
@media (max-width: 1280px) {
  #Home-page-4 .Home-content-6 {
    margin: 200px 50px 0 0;
  }
}
#Home-page-4 .Home-content-bk-all {
  display: flex;
}
#Home-page-4 .Home-content-bk-all .Home-content-bk-1 {
  margin: 40px 0 0 250px;
  width: 25%;
}
#Home-page-4 .Home-content-bk-all .Home-content-bk-1 .Home-content-7 {
  transform: rotate(13deg);
  text-align: right;
  font-size: 1.5rem;
  padding-bottom: 10px;
  font-weight: 700;
}
@media (max-width: 1280px) {
  #Home-page-4 .Home-content-bk-all .Home-content-bk-1 .Home-content-7 {
    font-size: 1.25rem;
  }
}
#Home-page-4 .Home-content-bk-all .Home-content-bk-1 .Home-content-8 {
  transform: rotate(-13deg);
  text-align: start;
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 1280px) {
  #Home-page-4 .Home-content-bk-all .Home-content-bk-1 .Home-content-8 {
    font-size: 1.25rem;
  }
}
#Home-page-4 .Home-content-bk-all .Home-content-bk-1 .Home-content-img {
  width: 60%;
  margin: auto;
  /* 記得調整 */
  padding-top: 30px;
}
#Home-page-4 .Home-content-bk-all .Home-content-bk-2,
#Home-page-4 .Home-content-bk-all .Home-content-bk-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 9rem;
}
#Home-page-4 .Home-content-bk-all .Home-content-bk-2 .Home-content-bk-2-img,
#Home-page-4 .Home-content-bk-all .Home-content-bk-3 .Home-content-bk-2-img {
  mask-image: url(../images/home-page3-img1.png);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}
#Home-page-4 .Home-content-bk-all .Home-content-bk-2 .Home-content-bk-3-img,
#Home-page-4 .Home-content-bk-all .Home-content-bk-3 .Home-content-bk-3-img {
  mask-image: url(../images/home-page3-img2.png);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}
#Home-page-4 .Home-content-bk-all .Home-content-bk-2 .Home-content-9,
#Home-page-4 .Home-content-bk-all .Home-content-bk-2 .Home-content-11,
#Home-page-4 .Home-content-bk-all .Home-content-bk-3 .Home-content-9,
#Home-page-4 .Home-content-bk-all .Home-content-bk-3 .Home-content-11 {
  font-size: 2.3rem;
  font-weight: 700;
}
#Home-page-4 .Home-content-bk-all .Home-content-bk-2 .Home-content-10,
#Home-page-4 .Home-content-bk-all .Home-content-bk-2 .Home-content-12,
#Home-page-4 .Home-content-bk-all .Home-content-bk-3 .Home-content-10,
#Home-page-4 .Home-content-bk-all .Home-content-bk-3 .Home-content-12 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
}

#Home-page-5 {
  padding: 160px 0px 180px;
}
@media (max-width: 1280px) {
  #Home-page-5 {
    padding: 240px 0px 240px;
  }
}
#Home-page-5 .Home-content-bk-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 35%;
}
@media (max-width: 1280px) {
  #Home-page-5 .Home-content-bk-4 {
    padding-right: 30%;
  }
}
#Home-page-5 .Home-content-bk-4 .Home-content-15 {
  background-image: url(../images/Home-content-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 80%;
}
#Home-page-5 .Home-content-bk-4 .Home-content-13 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 80px 100px 90px 65px;
}
#Home-page-5 .Home-content-bk-4 .Home-content-bk-5 {
  transition: transform 0.5s, box-shadow 0.2s;
}
#Home-page-5 .Home-content-bk-4 .Home-content-bk-5 .Home-greenIp {
  width: 251px;
  /* 套用動畫 */
}
#Home-page-5 .Home-content-bk-4 .Home-content-bk-5:hover .Home-greenIp {
  animation: jump 1.5s ease-in-out infinite;
}
@media (max-width: 1366px) {
  #Home-page-5 .Home-content-bk-4 .Home-content-bk-5:hover .Home-greenIp {
    animation: jump2 1.5s ease-in-out infinite;
  }
}
#Home-page-5 .Home-content-bk-4 .Home-content-bk-5:hover p {
  animation-play-state: paused;
  transition: all 0.5s ease;
  background-color: #f44f46;
}
#Home-page-5 .Home-content-bk-4 .Home-content-bk-5:active {
  box-shadow: none;
  transform: translateX(5px) translateY(5px);
}
#Home-page-5 .Home-content-bk-4 .Home-content-bk-5 .Home-btn {
  width: 251px;
  margin-bottom: 80px;
}
#Home-page-5 .Home-content-bk-4 .Home-content-bk-5 p {
  display: block;
  background-color: #FF6C64;
  width: 250px;
  line-height: 113px;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 10px 10px 0px 2px #000000;
  transition: transform 0.5s, box-shadow 0.2s;
  margin-bottom: 110px;
  animation: big 1.5s ease-in-out infinite;
}
@media (max-width: 1366px) {
  #Home-page-5 .Home-content-bk-4 .Home-content-bk-5 p {
    margin-bottom: 60px;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
    /* 初始位置 */
  }
  30% {
    transform: translateY(-100px);
    /* 向上跳動 */
  }
  70% {
    transform: translateY(0);
    /* 回到初始位置 */
  }
}
@keyframes jump2 {
  0% {
    transform: translateY(0px);
    /* 初始位置 */
  }
  30% {
    transform: translateY(-80px);
    /* 向上跳動 */
  }
  70% {
    transform: translateY(0);
    /* 回到初始位置 */
  }
}
@keyframes big {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
    /* 向上跳動 */
  }
  70% {
    transform: scale(1.2);
    /* 回到初始位置 */
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 1441px) {
  #Home-page-2 .Home-content-bk-1 .Home-content-1,
  #Home-page-2 .Home-content-bk-1 .Home-content-2 {
    font-size: 4rem;
    margin-left: 100px;
  }
  #Home-page-2 .Home-content-bk-1 .Home-content-1 .Home-eng-text-1,
  #Home-page-2 .Home-content-bk-1 .Home-content-1 .Home-eng-text-2,
  #Home-page-2 .Home-content-bk-1 .Home-content-2 .Home-eng-text-1,
  #Home-page-2 .Home-content-bk-1 .Home-content-2 .Home-eng-text-2 {
    margin-left: 150px;
    font-size: 1.8rem;
  }
  #Home-page-2 .Home-content-bk-1 .Home-content-1 span,
  #Home-page-2 .Home-content-bk-1 .Home-content-2 span {
    font-size: 80px;
    padding: 0 30px;
  }
  #Home-page-2 .Home-content-bk-1 .Home-content-2 {
    margin-left: 350px;
  }
  #Home-page-2 .Home-content-bk-2 {
    margin: 250px 0 0 250px;
  }
  #Home-page-2 .Home-content-bk-2 .Home-content-3 .Home-content-3-img {
    width: 15%;
    padding: 350px 0 0 80px;
  }
  #Home-page-2 .Home-content-bk-2 .Home-content-3 .Home-text-2 {
    font-size: 2.5rem;
  }
  #Home-page-2 .Home-content-bk-2 .Home-content-3 .Home-eng-text-2 {
    font-size: 2rem;
    margin-top: 20px;
  }
  #Home-page-2 .Home-content-bk-2 .Home-content-3 .Home-sml-text-2 {
    font-size: 1.5rem;
    padding-top: 30px;
    font-weight: 500;
  }
  #Home-page-2 .Home-content-bk-2 .Home-content-4 {
    margin: 200px 150px 0 0;
  }
  #Home-page-2 .Home-content-bk-2 .Home-content-4 .Home-text-block-2 .Home-text-2 {
    font-size: 2.5rem;
  }
  #Home-page-2 .Home-content-bk-2 .Home-content-4 .Home-text-block-2 .Home-eng-text-2 {
    font-size: 2rem;
  }
  #Home-page-2 .Home-content-bk-2 .Home-content-4 .Home-text-block-2 .Home-sml-text-2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  #Home-page-2 .Home-content-bk-2 .Home-content-4 .Home-content-4-img {
    padding: 0 80px 0 0;
    width: 25%;
  }
  #Home-page-3 {
    margin-top: 40px;
    margin-bottom: 150px;
  }
  #Home-page-3 .Home-content-bk .Home-content-bk-3 p {
    height: 80px;
    width: 80px;
    font-size: 60px;
  }
  #Home-page-3 .Home-content-bk .Home-content-bk-4 {
    margin-top: 250px;
  }
  #Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-content-5,
  #Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-content-7 {
    margin-left: 250px;
  }
  #Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-content-6 {
    padding-bottom: 150px;
  }
  #Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-text-3 {
    font-size: 2.5rem;
  }
  #Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-text-3 span {
    font-size: 70px;
  }
  #Home-page-3 .Home-content-bk .Home-content-bk-4 .Home-sml-text-3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  #Home-page-3 .Home-content-bk .Home-ladder {
    width: 100%;
  }
  #Home-page-4 {
    padding-top: 70px;
  }
  #Home-page-4 .Home-content-6 {
    font-size: 3rem;
    margin: 20px 200px;
  }
  #Home-page-4 .Home-content-bk-all .Home-content-bk-1 {
    margin: 60px 0 0 300px;
    width: 30%;
  }
  #Home-page-4 .Home-content-bk-all .Home-content-bk-1 .Home-content-7 {
    font-size: 1.8rem;
  }
  #Home-page-4 .Home-content-bk-all .Home-content-bk-1 .Home-content-8 {
    font-size: 1.8rem;
  }
  #Home-page-4 .Home-content-bk-all .Home-content-bk-1 .Home-content-img {
    padding-top: 90px;
    width: 50%;
  }
  #Home-page-4 .Home-content-bk-all .Home-content-bk-2,
  #Home-page-4 .Home-content-bk-all .Home-content-bk-3 {
    margin-top: 12rem;
  }
  #Home-page-4 .Home-content-bk-all .Home-content-bk-2 .Home-content-9,
  #Home-page-4 .Home-content-bk-all .Home-content-bk-2 .Home-content-11,
  #Home-page-4 .Home-content-bk-all .Home-content-bk-3 .Home-content-9,
  #Home-page-4 .Home-content-bk-all .Home-content-bk-3 .Home-content-11 {
    font-size: 42px;
  }
  #Home-page-4 .Home-content-bk-all .Home-content-bk-2 .Home-content-10,
  #Home-page-4 .Home-content-bk-all .Home-content-bk-2 .Home-content-12,
  #Home-page-4 .Home-content-bk-all .Home-content-bk-3 .Home-content-10,
  #Home-page-4 .Home-content-bk-all .Home-content-bk-3 .Home-content-12 {
    font-size: 1.5rem;
  }
  #Home-page-5 {
    padding: 350px 0px;
  }
  #Home-page-5 .Home-content-bk-4 .Home-content-13 {
    font-size: 3rem;
    margin: 100px 150px 100px 80px;
  }
  #Home-page-5 .Home-content-bk-4 .Home-content-bk-5 .Home-greenIp {
    width: 350px;
  }
  #Home-page-5 .Home-content-bk-4 .Home-content-bk-5 .Home-content-bk-text-5 {
    display: block;
    background-color: #FF6C64;
    width: 240px;
    line-height: 113px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 2px #000000;
    transition: transform 0.5s, box-shadow 0.2s;
    margin-bottom: 90px;
  }
  #Home-page-5 .Home-content-bk-4 .Home-content-bk-5 .Home-content-bk-text-5:active {
    box-shadow: none;
    transform: translateX(5px) translateY(5px);
  }
  #Home-page-5 .Home-content-bk-4 .Home-content-bk-5 .Home-btn {
    width: 350px;
  }
}
/* svg css */
.st0 {
  fill: #FDFAD3;
}

.st1 {
  fill: #1CB66B;
}

.st2 {
  fill: #EEF6F1;
}

.st3 {
  fill: #E92A16;
}

.st4 {
  fill: #020202;
}

.st5 {
  fill: #ED2714;
}

.st6 {
  fill: #060100;
}

.st7 {
  fill: #020000;
}

.st8 {
  fill: #F397C0;
}

.st9 {
  fill: #020101;
}

.st10 {
  fill: #020102;
}

.st11 {
  fill: #050304;
}

.st12 {
  fill: #228CD9;
}

.st13 {
  fill: #DB9753;
}

.st14 {
  fill: #010305;
}

.st15 {
  fill: #030202;
}

.st16 {
  fill: #030302;
}

.st17 {
  fill: #030303;
}

.handwriting {
  stroke: rgb(3, 3, 2);
  /* 描邊顏色 */
  stroke-width: 3;
  /* 描邊寬度 */
  fill: none;
  /* 沒有填充 */
  stroke-linecap: round;
  /* 圓形的邊角 */
  stroke-linejoin: round;
  /* 圓形的連接點 */
  stroke-dasharray: 1000;
  /* 設置虛線總長度（值需大於 path 總長度） */
  stroke-dashoffset: 1000;
  /* 初始化時，將虛線偏移設置為總長度，隱藏整個 path */
  animation: draw 2s linear forwards, fill 1s 1s linear forwards;
  /* 動畫效果 */
}

/* 填充效果 */
.handwriting {
  transition: fill 2s ease-in-out;
}

/* 定義描邊動畫 */
@keyframes draw {
  to {
    stroke-dashoffset: 0;
    /* 動畫結束時，偏移設置為 0，完整顯示 path */
  }
}
/* 定義填充動畫 */
@keyframes fill {
  0% {
    fill: transparent;
  }
  25% {
    fill: rgba(3, 3, 2, 0.25);
  }
  50% {
    fill: rgba(3, 3, 2, 0.5);
    /* 半透明填充 */
  }
  100% {
    fill: rgb(3, 3, 2);
    /* 完整填充 */
  }
}
#navbartext {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
}

.move-right-blue {
  transform: translateX(0);
  transition: transform 1s ease-out;
  /* 平滑移动效果 */
}

/* 滾動到視窗中觸發後的位置 */
.move-right-blue.active {
  transform: translateX(-100px);
  /* 向右移動 100px */
}

.move-left-red {
  transform: translateX(0);
  transition: transform 0.5s ease-out;
  /* 平滑移动效果 */
}

/* 滾動到視窗中觸發後的位置 */
.move-left-red.active {
  transform: translateX(100px);
  /* 向右移動 100px */
}

.Home-ladder {
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

.Home-ladder.active {
  transform: translateY(150px);
  /* 向右移動 100px */
}/*# sourceMappingURL=Home.css.map */