@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Maru+Gothic&display=swap");
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
@font-face {
  font-family: SweiGothicCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
}
#LEPCss-Home {
  background-color: #FFD640;
  background-image: url(../images/homeDeco.png);
  background-position: 500px;
  background-size: 55%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
#LEPCss-Home .LEPCss-img-top {
  position: absolute;
  z-index: 1;
  width: 20%;
  height: 15%;
  right: -130px;
  bottom: 0px;
  transform: rotate(30deg);
}
#LEPCss-Home .LEPCss-content-top {
  font-size: 0.85rem;
  font-weight: 700;
  position: absolute;
  right: 72px;
  bottom: 23px;
  width: 30%;
  z-index: 3;
}
#LEPCss-Home .LEPCss-content-top .LEP-content-top-3 {
  text-align: right;
}
#LEPCss-Home #LEPCss-bk-big {
  display: flex;
  justify-content: center;
  padding-left: 94px;
}
@media (min-width: 1441px) {
  #LEPCss-Home #LEPCss-bk-big {
    padding-top: 60px;
  }
}
#LEPCss-Home #LEPCss-bk-big .LEPCss-title {
  background-color: #fff;
  border-radius: 20px;
  padding: 0px 20px;
  font-family: "SweiGothicCJKtc-Regular", serif;
}
#LEPCss-Home #LEPCss-bk-big .LEPCss-PersonCard {
  width: 100%;
}
#LEPCss-Home #LEPCss-bk-big .LEPCss-PersonCard .LEPCss-personAll .LEPCss-PersonEXP {
  display: flex;
  justify-content: center;
  margin: 0px 70px 0px 33px;
}
#LEPCss-Home #LEPCss-bk-big .LEPCss-PersonCard .LEPCss-personAll .LEPCss-PersonEXP .LEPCss-PE {
  width: 442px;
  margin-right: 100px;
}
#LEPCss-Home #LEPCss-bk-big .LEPCss-PersonCard .LEPCss-card {
  margin: 50px 120px 0px 30px;
  padding-top: 10px;
}/*# sourceMappingURL=LearnPageCss.css.map */