@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
.phonePage {
  display: none;
}
@media (max-width: 640px) {
  .phonePage {
    display: block;
  }
}

#LearnAreaall2 {
  height: 100vh;
}
#LearnAreaall2 .areaTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
#LearnAreaall2 .areaTitle .areaimportant {
  width: 25%;
}
#LearnAreaall2 .areaTitle .areah2 {
  flex: 1.5;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
}
#LearnAreaall2 .areaContent {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#LearnAreaall2 .areaContent .diatext {
  font-size: 1.25rem;
  font-weight: 700;
}
#LearnAreaall2 .areaContent .diabox1 {
  padding: 20px;
  position: relative;
  align-self: self-start;
}
#LearnAreaall2 .areaContent .diabox1 .areap1 {
  background-image: url("../images/LearnArea-dialogbox1.svg");
  background-repeat: no-repeat;
  line-height: 75px;
  width: fit-content;
  padding: 0 45px 20px 48px;
}
#LearnAreaall2 .areaContent .diabox1 .areatwo {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  top: 150px;
  left: 150px;
}
#LearnAreaall2 .areaContent .diabox1 .areatwo .areap2 {
  background-image: url("../images/LearnArea-dialogbox3.svg");
  background-repeat: no-repeat;
  line-height: 45px;
  width: fit-content;
  padding: 0 45px 0 40px;
  position: relative;
  width: 100%;
}
#LearnAreaall2 .areaContent .diabox1 .areatwo .areap2 .areap2-1 {
  padding-top: 20px;
}
#LearnAreaall2 .areaContent .diabox1 .areatwo .areap2 .areap2-2 {
  padding: 0 0 70px 150px;
}
#LearnAreaall2 .areaContent .diabox1 .areatwo .areap2 .areaimg1 {
  position: absolute;
}
#LearnAreaall2 .areaContent .diabox1 .areatwo .areap2 .areaimg1 .areaimg1-1 {
  width: 25%;
  left: 250px;
}
#LearnAreaall2 .areaContent .diabox2 {
  display: flex;
  align-items: flex-end;
}
#LearnAreaall2 .areaContent .diabox2 .areathree {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
#LearnAreaall2 .areaContent .diabox2 .areathree .areap3 {
  background-image: url("../images/LearnArea-dialogbox4.svg");
  background-repeat: no-repeat;
  line-height: 75px;
  width: fit-content;
  padding: 30px 45px 70px 48px;
}
#LearnAreaall2 .areaContent .diabox2 .areafour {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
#LearnAreaall2 .areaContent .diabox2 .areafour .areap4 {
  background-image: url("../images/LearnArea-dialogbox2.svg");
  background-repeat: no-repeat;
  line-height: 40px;
  width: fit-content;
  padding: 30px 45px 0px 0px;
}
#LearnAreaall2 .areaContent .diabox2 .areafour .areap4 .areap4-1 {
  padding-left: 40px;
}
#LearnAreaall2 .areaContent .diabox2 .areafour .areap4 .areap4-2 {
  padding: 0 0 95px 180px;
}/*# sourceMappingURL=LearnArea2.css.map */