@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
#LearnAreaallall {
  background-color: #FFD640;
  background-image: url("../images/learnAreaLine.svg");
  background-position: center;
  background-size: 99% 99%;
  background-repeat: no-repeat;
}
#LearnAreaallall #LearnAreaall3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#LearnAreaallall #LearnAreaall3 .learnbigtitle {
  align-self: flex-start;
  padding: 45px 0 0 65px;
}
#LearnAreaallall #LearnAreaall3 .learnbigtitle .bigtitleimg {
  width: 310px;
  height: 140px;
}
#LearnAreaallall #LearnAreaall3 .learnwordall {
  padding: 30px;
  margin-top: 80px;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword {
  display: flex;
  justify-content: center;
  align-items: center;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordall {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordall .wwword {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000000;
  position: relative;
  padding-left: 100px;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordall .wordtitle1::before {
  content: "";
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: url("../images/icon_greenA.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 40px;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordall .wordtitle2::before {
  content: "";
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: url("../images/icon_red.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 40px;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordall .wordtitle3::before {
  content: "";
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: url("../images/icon_blue.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 40px;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 560px;
  height: 100px;
  padding: 10px 55px;
  margin-right: 90px;
  font-size: 1rem;
  font-weight: 500;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
  border-radius: 99px;
  background-color: #FFFFFF;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordEnglish1 {
  width: 200px;
  height: 130px;
  background-image: url("../images/learnAreaBoard.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordEnglish1:hover {
  background-image: url("../images/learnAreaBoardS.png");
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordEnglish2 {
  width: 200px;
  height: 130px;
  background-image: url("../images/learnAreaBoard.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordEnglish2:hover {
  background-image: url("../images/learnAreaBoardI.png");
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordEnglish3 {
  width: 200px;
  height: 130px;
  background-image: url("../images/learnAreaBoard.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#LearnAreaallall #LearnAreaall3 .learnwordall .learnword .wordEnglish3:hover {
  background-image: url("../images/learnAreaBoardU.png");
}
#LearnAreaallall #LearnAreaall3-1 {
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#LearnAreaallall #LearnAreaall3-1 .charredimg {
  width: 300px;
  height: 300px;
}
#LearnAreaallall #LearnAreaall3-1 .learnimportant {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
}
#LearnAreaallall #LearnAreaall3-1 .learnimportant .impbox {
  margin: 0 auto;
  width: 777px;
  height: 300px;
  align-self: center;
  background-image: url("../images/learnAreaPoint.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#LearnAreaallall #LearnAreaall3-1 .learnimportant .impbox:hover {
  background-image: url("../images/learnAreaPoint_hover.svg");
}
#LearnAreaallall #LearnAreaall3-1 .learnimportant .charblueimg {
  position: absolute;
  width: 280px;
  height: 280px;
  z-index: 10;
  right: 10%;
  bottom: -100px;
}
#LearnAreaallall #LearnAreaall3-1 .happy {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 500px;
}
#LearnAreaallall #LearnAreaall3-1 .happy .practice {
  width: 897px;
  height: 470px;
}
#LearnAreaallall #LearnAreaall3-1 .happy .practice .rightone,
#LearnAreaallall #LearnAreaall3-1 .happy .practice .rightthree {
  animation: cloudFloat 5s linear alternate infinite;
}
#LearnAreaallall #LearnAreaall3-1 .happy .practice .righttwo,
#LearnAreaallall #LearnAreaall3-1 .happy .practice .rightfour {
  animation: cloudFloat 6s linear 1.5s alternate infinite;
}
#LearnAreaallall #LearnAreaall3-1 .happy .practice svg {
  width: 880px;
}
#LearnAreaallall #LearnAreaall3-1 .happy .practicebox {
  width: 335px;
  height: 170px;
}

@keyframes cloudFloat {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-40px) translateY(-10px);
  }
  100% {
    transform: translateX(-60px) translateY(5px);
  }
}/*# sourceMappingURL=LearnArea3.css.map */