@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
.overlayselect {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalselect {
  background-color: #FFF0C0;
  padding: 20px;
  border-radius: 10px;
  width: 780px;
  max-width: 90%;
  position: relative;
}
.modalselect .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.modalselect .close-button:hover {
  color: red;
}
.modalselect .selectColumns {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.modalselect .selectColumns .select-column h3 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.modalselect .selectColumns .select-column:nth-child(1) h3 {
  color: #1E77B8;
}
.modalselect .selectColumns .select-column:nth-child(2) h3 {
  color: #de5b5b;
}
.modalselect .selectColumns .select-column .select-item {
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.modalselect .selectColumns .select-column .select-item .question {
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalselect .selectColumns .select-column .select-item .question:hover {
  scale: 1.03;
}
.modalselect .selectColumns .select-column .select-item .answer {
  font-weight: bold;
  font-size: 0.85rem;
  margin-top: 5px;
  padding-left: 10px;
  color: #666;
  padding: 0px 20px 10px 20px;
}
.modalselect .selectColumns .select-column .select-item .answer p {
  margin: 5px 0;
}/*# sourceMappingURL=SelectModel.css.map */