@use './reset';
@use './variables' as *;

#LearnSelectAllpage {
    background-color: $primary;
    height: 100vh;
}

#codeCourse {
    // width: 100%;
    // height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;

    @media (max-width:1023px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // @media (max-width:640px) {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    #codePic {
        position: relative;
        width: 650px;
        height: 650px;

        @media (max-width:1023px) {
            width: 450px;
            height: 450px;
        }

        @media (max-width:640px) {
            display: none;
        }

        .tier4 {
            position: absolute;
            z-index: 1;
            pointer-events: none;
        }

        .tier3 {
            position: absolute;
            z-index: 2;
            width: 120px;
            height: 100px;
            left: 400px;
            top: 120px;
            transform: rotate(-20deg);

            &:hover {
                animation: rotateIn 350ms ease-in-out forwards;
            }

            &:not(:hover) {
                animation: rotateOut 350ms ease-in-out forwards;
            }

            @media (max-width:1023px) {
                width: 85px;
                height: 65px;
                left: 280px;
                top: 85px;
            }
        }

        .tier2 {
            position: absolute;
            z-index: 3;
            pointer-events: none;
        }

        .tier1a {
            position: absolute;
            z-index: 4;
            top: 140px;
            left: 160px;

            &:hover {
                g.eye {
                    animation: translateXIn 350ms ease-in-out both;
                }
            }

            &:not(:hover) {
                g.eye {
                    animation: translateXOut 350ms ease-in-out forwards;
                }
            }

            @media (max-width:1023px) {
                width: 65px;
                height: 65px;
                left: 100px;
                top: 95px;
            }
        }

        .tier1b {
            position: absolute;
            z-index: 5;
            bottom: 230px;
            left: 220px;

            .wink {
                animation: wink 5150ms ease-in-out forwards;
                animation-iteration-count: infinite;
            }

            @media (max-width:1023px) {
                width: 85px;
                height: 80px;
                left: 145px;
                top: 210px;
            }

        }

        .tier1c {
            position: absolute;
            z-index: 6;
            width: 120px;
            height: 120px;
            bottom: 90px;
            right: 100px;

            @media (max-width:1023px) {
                width: 85px;
                height: 85px;
                right: 70px;
                bottom: 55px;
            }
        }



    }

    #course {
        display: flex;
        flex-direction: column;

        @media (max-width:1023px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        @media (max-width:640px) {
            flex-direction: column;
        }

        .select {
            position: relative;
            padding: 20px 0;

            @media (max-width:1023px) {
                width: 300px;
                height: 250px;
                margin: 0 20px;
            }

            .select-link {
                display: block;
                width: 450px;
                height: 275px;
                background-size: cover;
                background-position: center;
                transition: background-image 0.3s ease-in-out;

                @media (max-width:1023px) {
                    width: 300px;
                    height: 250px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            h2 {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-size-48;
                font-weight: $font-w-bold;
                color: white;

                @media (max-width:1023px) {
                    font-size: $font-size-36;
                }
            }
        }

        .HTML {
            background-image: url('../images/learnSelectHTML.svg');

            &:hover {
                background-image: url('../images/learnSelectHTML_hover.svg');
            }
        }

        .CSS {
            background-image: url('../images/learnSelectCSS.svg');

            &:hover {
                background-image: url('../images/learnSelectCSS_hover.svg');
            }
        }
    }
}




/* 小粉愛心 */
@keyframes translateXIn {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }
}

@keyframes translateXOut {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* 小紅旋轉 */
@keyframes rotateIn {
    0% {
        transform: rotate(-20deg)
    }

    100% {
        transform: rotate(8deg)
    }
}

@keyframes rotateOut {
    0% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

/* 小綠眨眼 */
@keyframes wink {
    0% {
        height: 0;
    }

    3% {
        height: 28px;
    }

    5% {
        height: 0px;
    }
}